[2019-08-12 14:48] #680 closed

[2019-08-12 14:58] binarylogic commented on #741
Correct, but that does not mean you can't additionally parse the `message` field. The vector transforms are meant to be chainable. The event leaving the `syslog` source will be sometihng like:

[code]

You can see an example here:

https://docs.vector.dev/usage/configuration/sources/syslog#examples

[2019-08-12 15:04] binarylogic opened #745 "Improve syslog examples"
The `syslog` source could be much clearer in the examples. Specifically showing the outcome of different input (tcp, udp, failed parsing, syslog 5424, syslog 3164, and so on)

Ref https://github.com/timberio/vector/issues/741

[2019-08-12 15:04] binarylogic opened #4120 "Improve syslog examples"
The `syslog` source could be much clearer in the examples. Specifically showing the outcome of different input (tcp, udp, failed parsing, syslog 5424, syslog 3164, and so on)

Ref https://github.com/timberio/vector/issues/741

[2019-08-12 15:05] fcantournet commented on #741
Yes I see this, it's actually what I wanted to do :
My Nginx outputs a syslog (rfc3614) log with message containing a json.
I wanted to chain syslog -> json.

The problem is the current `syslog` source drops all my message because it fails to parse, because rfc5424 is not compatible with rfc3614.
That is why I need a raw UDP + regexp parsing the rfc3614 or better yet a native rfc3614 parser.

[2019-08-12 15:12] #603 closed

[2019-08-12 15:19] binarylogic commented on #741
Hm, it shouldn't be dropping your message. I'll open a follow up issue to address that.

[2019-08-12 15:20] binarylogic opened #746 "Add `drop_invalid` option to `syslog` source"
Follow up to https://github.com/timberio/vector/issues/741#issuecomment-520463684

The `syslog` source should have a `drop_invalid` option (default `true`). This allows users to opt-out of this behavior, allowing invalid messages to proceed through the pipeline.

[2019-08-12 15:30] loony-bean opened #747 "Sets in CloudWatch metrics"
This is a followup of the [initial CW metrics implementation](https://github.com/timberio/vector/pull/707#issuecomment-520466762).

We need to add support for `Sets` in CW metrics sink, but even more than that, we need to design a way of adding metrics aggregation into multiple sinks. It is important to make sure all metrics sinks, including Statsd (#676), and Prometheus (#733) deliver consistent

[2019-08-12 23:14] lukesteensen commented on #98
@LucioFranco I'm not sure how coupling validation with parsing would provide a better UX. Can you give some more concrete examples of UX problems you think that change would solve?

[2019-08-12 23:18] lukesteensen commented on #704
@MarkusH yes, it's starting to seem like we'd be better off directly modeling nested data. We initially avoided this to keep things simpler, but it's causing significant complexity around the edges.

[2019-08-12 23:20] lukesteensen commented on #724
Thanks for catching this!

[2019-08-12 23:30] lukesteensen commented on #564
@andrewbanchich That makes sense. It would be interesting to have something like gluon or [rhai](https://github.com/jonathandturner/rhai) available for people who are more familiar with rust-like languages. We would just want to make sure that there's significant enough demand to justify the cost of implementation, docs, maintenance, etc, which I don't think we've seen yet.

[2019-08-12 23:35] lukesteensen commented on #734
Yeah, I'm not sure how useful this would be given that it' could only compress individual events one at a time. Unless there's a use case I'm missing, I'd much prefer that we keep compression as a sink-level concern.

[2019-08-12 23:40] andrewbanchich commented on #564
Agreed! Feel free to close this if you'd like.

[2019-08-12 23:40] lukesteensen commented on #560
Thanks for opening this and sorry for the lack of response @erikbos!

I agree this is definitely something we should have. The way we're using the underlying kafka library means this should just be a matter of adding the relevant option to the kafka sink config and passing it along.

I've also had success using broker-side compression with kafka (i.e. setting the `compression.type` topic config va

[2019-08-13 00:02] lukesteensen commented on #737
I think it needs to be a separate strategy that users can opt into. Including the inode would neutralize the benefits of the checksum fingerprinting strategy. We'll also need to think about any potential issues with persisting the inode-based fingerprints.

[2019-08-13 00:23] erikbos commented on #560
For my situation passing the relevant parameters to the Kafka library would probably not do the trick: That would enable compression on Kafka protocol level, which most non-native Kafka implementations (like Azure Event Hubs) do not appear to support.

So I'm looking for a feature that would compress the payload, as being transported by Kafka. Probably the the whole payload in one go. That would l

[2019-08-13 11:51] kapilt commented on #736
fwiw an additional corollary endpoint for ecs containers is https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-metadata-endpoint-v3.html

re questions
1. none at the moment (8/2019)
2. agreed, having every instance describe themselves to get tags periodically is a ddos recipe in a busy/large environment
3. another useful metric label/tag would be the instance role name if present
`/i

[2019-08-13 13:22] binarylogic opened #750 "New `shape` transform"
We need a better way to add, remove, rename, and possibly coerce fields in one shot. If simple enough, this could replace the `add_fields`, `remove_fields`, and `coerce` transform.

I'm open to better naming, such as simply `transform`.

Ref https://github.com/timberio/vector/issues/377

[2019-08-13 13:24] binarylogic commented on #736
Thanks @kapilt, that's helpful. I was not aware of the ecs endpoint.

[2019-08-13 14:48] binarylogic opened #751 "New `aws_glue` transform"
* Requires a database and table name
* Pulls down a static schema
* Ensures data coming out of the transform _always_ conforms to that schema
* Similar to Segments protocols features: https://segment.com/product/protocols/

[2019-08-13 15:23] LucioFranco commented on #98
@lukesteensen I think for config validation is a good example. There may be points where we want to ensure for CI for example that configs are valid. Extracting as much validation around that to serde would allow us to decouple any materialized sink creation from checking for a valid configuration. Serde is powerful enough to handle a lot of this for us and I personally think we should take advant

[2019-08-13 18:19] lukesteensen commented on #560
Interesting. I don't have much experience with non-native Kafka implementations like Azure Event Hubs. It appears that compressing individual message bodies is the only supported form of compression there: https://github.com/Azure/azure-event-hubs-for-kafka#compression--message-format-version-issue

Any compression of more than a single message would become a protocol-level change, which seems uns

[2019-08-13 18:35] binarylogic commented on #598
@LucioFranco can you reply to this and then remove the `meta: needs reply` label?

[2019-08-13 18:35] lukesteensen commented on #523
Personally, I don't think it's worth spending further time on it. It doesn't seem like anyone has asked for it and the existing behavior is not surprising imo.

[2019-08-13 18:41] binarylogic commented on #708
@lukesteensen I think we can keep this simple, but adding a "Health checks" section on the sinks page is probably easiest. As long as it clarifies the responsibilities of a health check it should guide discussions around the related issues.

[2019-08-13 18:56] erikbos commented on #560
I think it's ok to batch multiple events into a single Kafka message. We actually currently do up to 80 events of 5k in a single message usingfilebeat, and send it to AzureEventHubs (For cost and efficiency sake, as Azure charges per Kafka message)

See option bulk_max_size: https://www.elastic.co/guide/en/beats/filebeat/master/kafka-output.html#_literal_bulk_max_size_literal_3

[2019-08-13 19:24] kirillt commented on #603
I was wrong, reload doesn't leave topology in semi-load state.
But if we can't parse config then it exits. I have fixed this in new small PR.

[2019-08-13 19:45] binarylogic commented on #603
Great, thanks! This looks good.

[2019-08-13 19:47] binarylogic commented on #523
Sounds good.

[2019-08-13 19:47] #523 closed

[2019-08-13 22:02] #472 closed

[2019-08-14 11:59] vladifwix opened #753 "New `gcp_pubsub` source"
Hello,
Vector supports Kafka and aws Kinesis (where vector agents publish events to)
It will be great to add support for Google pub/sub
Why?

1. GCP and pub/sub specifically is gaining more and more popularity , especialy in the data processing world
2. Integrate pub/sub with Vector consumer
3. Google BiqQuery is extremely popular so streaming events to it will be very beneficial for the Vector ad

[2019-08-14 12:47] #176 closed

[2019-08-14 13:26] binarylogic commented on #711
@lukesteensen do you mind reviewing this so we can get your take before beginning work?

[2019-08-14 17:16] loony-bean commented on #512
As far as I'm aware, Statsd [doesn't provide](https://github.com/statsd/statsd/issues/619) support for tags yet.

And we have at least 3 different extensions that add this feature, all having different syntax.

- Influx
`user.logins,service=payroll,region=us-west:32|g`

- DataDog
`user.logins:32|g|#service:payroll,region:us-west`

- SignalFx
`user.[service=payroll,region=us-west]logins:32|g`

Sinc

[2019-08-14 18:18] lukesteensen commented on #512
That all sounds good to me!

[2019-08-14 18:54] binarylogic commented on #512
Yep, agree, appreciate the thought you're putting into this. All of that sounds good to me.

[2019-08-14 19:25] LucioFranco commented on #598
I think as @bruceg and I discussed offline, we should continue to use native-tls and use the vendored version of openssl through native-tls to get PKCS#8 support from openssl directly. I'm happy to help with this and I've been talking to the person who wrote native-tls and the openssl crates so we have all the support we need for that.

Otherwise, I think all other issues have been resolved and th

[2019-08-14 20:16] #713 closed

[2019-08-14 20:48] lukesteensen commented on #711
It seems like the immediate problem is that the default bucketing for histograms is the first place where we need to make some assumptions about units. It'd be nice to just pass values through without worrying about units, but I don't see a good way around it in this case.

The simplest "solution" would probably be to assume that histograms will be aggregated from statsd timers, which seem to have

[2019-08-14 21:06] ktff commented on #338
I think that this conversation is not over, but as @binarylogic said, it can extend into follow up issues. So I will close this one.

[2019-08-14 21:06] #338 closed

[2019-08-14 21:11] binarylogic opened #757 "Dynamic groups & streams"

[2019-08-14 21:11] binarylogic commented on #757
Link to subfeature: https://timber.productboard.com/feature-board/planning/features/2645208

[2019-08-14 21:40] #361 closed

[2019-08-15 08:44] #660 closed

[2019-08-15 15:24] loony-bean opened #760 "Expose metric tags as Prometheus labels"
Related #512

After adding tags support into metrics data model, it will be possible to expose labels in Prometheus sink.

[2019-08-15 15:26] loony-bean commented on #512
Seems like renaming could wait until we will start working on next Statsd integration.

[2019-08-15 15:59] #708 closed

[2019-08-15 16:33] #512 closed

[2019-08-16 18:57] LucioFranco opened #762 "Support Clickhouse load balancing"
Clickhouse should support load balancing between multiple hosts. reference https://github.com/timberio/vector/pull/693#discussion_r309701885

This can be achieved by using something like tower-balance.

[2019-08-16 18:58] #556 closed

[2019-08-16 20:58] bruceg commented on #543
So now, one error return has been converted to an actual error type. Where should this issue go from here?

[2019-08-16 21:46] marcbowes opened #763 "File source retains files on disk"
We're experimenting with vector as a replacement for our current log pusher.

The way ours system currently works is maybe a bit unexpected. Instead of doing conventional log rotation (e.g. my-log.log is copy-truncated to my-log.log.$TIMESTAMP), logs simply have the datetime appended to their name. After some time, a process comes and deletes them. Vector correctly finds these files but never clos

[2019-08-16 21:46] marcbowes commented on #763
The immediate workaround is to periodically bounce vector. In my case, that got my 700G back after about 24h of uptime.

[2019-08-16 21:50] marcbowes commented on #763
https://github.com/timberio/vector/blob/e190e96e925d819d7460fab64f37fdb4241b88ad/lib/file-source/src/file_watcher.rs#L111
https://github.com/timberio/vector/blob/e190e96e925d819d7460fab64f37fdb4241b88ad/lib/file-source/src/file_server.rs#L215

I think the issue is that the `dead` status is not reachable because the file is always `findable`. I can't see any tests that demonstrate that that the "re

[2019-08-16 21:56] marcbowes opened #764 "Multi-byte log line delimiters"
Currently the file source only supports delimiting by EOF or \n:

https://github.com/timberio/vector/blob/e190e96e925d819d7460fab64f37fdb4241b88ad/lib/file-source/src/file_watcher.rs#L108

It would be super useful to be able to combine multiple lines into one log entry.

[2019-08-16 22:25] binarylogic commented on #763
Thanks, @marcbowes! This is very helpful. And apologies for the trouble here, we're about to start a push to improve the `file` source and will include this. We expect to begin on Monday and will update as we make progress.

[2019-08-17 10:37] ktff commented on #613
Another option is by using Syslog logging driver on Docker side, and Syslog source on Vector side.

@DenisSlnn is this not an option for you for some reason?

[2019-08-17 16:44] binarylogic commented on #613
@ktff that sounds like it would work, but I think we wanted something a little more automatic and Docker friendly. I don't know enough about how this would work to give you concrete suggestions, but my hope was that you'd dig in and think about how a user would set up Vector in a Docker environment.

For example, [logspout](https://github.com/gliderlabs/logspout) does a pretty good job with this,

[2019-08-17 16:47] binarylogic commented on #613
@ktff I've assigned this to you if you feel comfortable proceeding. If not, no problem, we can look at other issues.

[2019-08-18 06:15] a-rodin commented on #585
With `javascript` transform it becomes possible to send metrics to DataDog, although in a slightly hacky way.

It can be accomplished

[2019-08-18 14:13] ktff commented on #613
I think the specification for this can be best described with the following pseudo documentation.

## docker source

The `docker` source ingest log data from local Docker containers and outputs log events.

### Config File(example)
[code]

If `include_containers` and `include_labels` are empty, `docker` source will collect logs from all applicable containers.

### Requirements

- Docker container

[2019-08-18 14:31] binarylogic commented on #613
Thanks, @ktff this is exactly what we were looking for. I'm going to have @LucioFranco review this and sign off on the specification. We'll try to do that tomorrow morning so that we can unblock you and you can start.

[2019-08-18 14:40] binarylogic commented on #585
@loony-bean I've assigned this to you. I think this would be a good sink to add now that the metrics data model is mostly finalized. What do you think?

One thing worth discussing -- Datadog [accepts logs](https://docs.datadoghq.com/api/?lang=python#logs) in addition to metrics. To start, we should only support the metrics use case but I would like to design it in such a way that it would forward

[2019-08-18 15:04] binarylogic commented on #711
Hm, this is not a bad idea. Do you think it's worth documenting that Vector assumes the `val` field in the `histogram` struct is in milliseconds? Then, later, we could provide levers to convert units at the source or transform level?

Alternatively, #710 can provide defaults based on the metric naming. Ex:

[code]

These would be default/fallback rules, any rules the user provided would take prece

[2019-08-18 15:56] binarylogic commented on #710
@lukesteensen do you mind reviewing this issue to make sure there aren't any glaring issues? If you think this is good can you remove the `meta: needs review` label?

[2019-08-18 17:26] binarylogic opened #767 "Formalize environment context / metadata / field"
A very important piece of context is the environment (`production`, `staging`, `dev`, etc) the data is coming from. This is so common, and core, to observability data that I think we should consider ways to formalize its collection. For example:

1. Adding it to our default schema for both the `log` and `metric` event type.
2. Automatic detection of the `ENV` and `ENVIRONMENT` env vars, similar to

[2019-08-19 01:33] tlvenn opened #768 "Vector operator for Kubernetes"
Hi,

Not an issue strictly with vector but hoping to spark some ideas regarding the integration with k8s.
An operator similar to what https://github.com/banzaicloud/logging-operator does for fluent-bit would be pretty awesome.

[2019-08-19 01:34] tlvenn commented on #260
Created this issue as well: https://github.com/timberio/vector/issues/768 , I believe having an operator would be the way to go.

[2019-08-19 03:33] binarylogic commented on #768
Thanks @tlvenn, the `logging-operator` project is very interesting. We'll dig in and see what we can do.

[2019-08-19 12:06] loony-bean commented on #585
I need to read the docs more thoroughly to understand possible corner cases (for example, DD is not supporting relative Gauges and native Statsd Timers), but in general I think we age good to go. We can start from simply sending UDP datagrams to DD Agent.

I believe `datadog_metrics` is a fine name, but adding this will probably require us to rename our `statsd` source for consistency.

[2019-08-19 12:45] loony-bean commented on #711
For what it's worth, in my experience milliseconds were not very common. I recall working with Apache server logs, or logs from Java applications where different units were used.

In general, I think Prometheus approach of [using only core units](https://www.robustperception.io/who-wants-seconds) is worth considering.

I like the idea. It reminds me of gradual typing, which I find fascinating.

Al

[2019-08-19 13:09] loony-bean opened #769 "Add namespace config for Prometheus sink"
According to Prometheus [naming convention](https://prometheus.io/docs/practices/naming/) a prefix string should be provided for all metric names. This will also make this sink more consistent with the CloudWatch metrics one, which already has `namespace` config.

[2019-08-19 13:55] binarylogic opened #770 "filtering by service name"

[2019-08-19 13:55] binarylogic commented on #770
Link to subfeature: https://timber.productboard.com/feature-board/planning/features/2681389

[2019-08-19 15:10] LucioFranco commented on #613
@ktff Overall I'm pretty happy with this solution. One question I had is, would it make sense to use a regex instead of an include/ignore set of options?

[2019-08-19 15:13] loony-bean opened #771 "Add / remove metric tags transforms"
Rel #524

**Adding** static tags will allow ingesting useful meta information, such as env, region, etc.

**Removing** tags will give users control over tagged metric space, and the resources required to store and process it.

Use cases:
- CloudWatch accepts only 10 tags (aka dimensions); user might want to selectively drop unnecessary tags to make sure important tags are not trimmed
- DataDog is

[2019-08-19 15:30] ktff commented on #613
I am not quite sure what you mean.

Beside replacing "container_name" and "label_name" with a regex, I don't see how a regex could replace options. But it would help if it can.

Could you explain the idea a little more.

[2019-08-19 15:34] LucioFranco commented on #613
@ktff what I mean is `containers = ["(some-regex)"]` might be better since you can include negative matches in regexes. So you can have one option instead of splitting that functionality into two separate options. Let me know if that makes sense.

[2019-08-19 16:10] ktff commented on #613
Yes, it makes sense, but it has downsides.

Approachability and readability will suffer.

- Using options would require basic knowledge of regex.

- If regex is used in any capacity, It could be difficult for readers to reason about what `docker` source will actually collect. This is mostly because it will be more difficult to determine if there is any include as it's existence changes what source

[2019-08-19 16:36] lukesteensen commented on #711
If seconds is the prometheus standard, that seems like a strong argument in favor of using them by default. That would unforunately leave the mismatch by default, so then maybe we add either a `scale_histogram_values` option to the sink or a `convert_timers_to_seconds` option in the statsd source?

[2019-08-19 17:04] loony-bean commented on #711
Btw [here](https://github.com/timberio/vector/blob/master/src/sources/statsd/parser.rs#L171) because Statsd is absolutely certain about units of Timers, we already convert all timings to seconds. Do you think there is a case when we need to pass raw milliseconds and bypass the conversion?

[2019-08-19 17:18] LucioFranco commented on #613
@ktff that totally makes sense! I'm happy with that, let's do it 👍 Thanks for explaining 😄

[2019-08-19 17:37] binarylogic commented on #771
Yep, we need to solidify our concepts of tags, fields, and how they work across logs. We brough this up in planning as it is popping up across other work we're doing (#736)

[2019-08-19 20:09] lukesteensen commented on #710
Makes sense, just a few comments:

* I'd probably put them under an `overrides` key rather than a `metrics` key in the config, which didn't feel terribly clear.

* I might prefer something like `name_pattern` over `match_name`?

* We'll need to think through how to handle incoming events where the specified type doesn't make sense. Right now I think we implicitly branch based on the type first. If

[2019-08-19 20:38] lukesteensen commented on #711
Ah, I had forgotten about that. So in that case, the units should line up by default and it doesn't seem as urgent to add options to shift them.

[2019-08-19 20:46] lukesteensen commented on #543
I would say we should take a quick inventory of components still using `String` errors and either add a checklist to this issue or break them out into individual issues so we can track overall progress (probably just a checklist here).

[2019-08-19 21:02] lukesteensen commented on #764
Thanks for the opening this @marcbowes! There has been some related discussion at #388, but I'd be curious to hear more about your use case.

Would it be sufficient to allow overriding that `b'\n'` with a static multi-byte sting? Or would you want something more like a regex pattern for detecting message boundaries?

[2019-08-19 21:56] #363 closed

[2019-08-19 22:25] lukesteensen commented on #524
Agreed on the points above. Closing this in favor of #771.

[2019-08-19 22:25] #524 closed

[2019-08-19 22:56] lukesteensen commented on #736
At least until we've done a deeper investigation of the possiblity of a more unified fields/tags model, we should build this primarily as an independent module and expose it through separate log and metrics transform wrappers.

[2019-08-20 01:09] marcbowes commented on #763
Don't thank me yet!

After posting this I read the file_server.rs code more carefully and I think I'm wrong on exactly where the bug is. But the symptoms are accurate at least :).

It was surprising to me the way the server works. It runs through each watched file and reads some bytes then sends them through the sink. So for example if I have a log file rotating minutely:

[code]

then each file i

[2019-08-20 01:13] marcbowes commented on #764
Oh sorry I suck at searching..

A static string would be sufficient. That other issue nails it. I'd be fine with either a "this is the static EOL" or "this is the static beginning of entry", both are workable for my use-case.

[2019-08-20 01:13] #764 closed

[2019-08-20 01:51] lukesteensen commented on #771
This sounds good to me. For now, I think we go with the simple, independent version that just works for metrics. Maybe down the line we can do some work to reduce duplication with `add_fields`, but I wouldn't worry about it for now.

[2019-08-20 16:22] #760 closed

[2019-08-20 17:43] #728 closed

[2019-08-20 17:49] binarylogic opened #775 "Improve Clickhouse docs with examples and how it works"
The `clickhouse` documentation currently uses the default template, we should improve this by:

1. Adding an "Examples" section, like we do in the [`aws_s3` sink](https://docs.vector.dev/usage/configuration/sinks/aws_s3#examples).
2. Adding a separate guide that walks through how to setup Clickhouse and use it for the logging use-case, then linking to that guide.
3. Adding any known caveats or beh

[2019-08-20 17:49] binarylogic opened #4118 "Improve Clickhouse docs with examples and how it works"
The `clickhouse` documentation currently uses the default template, we should improve this by:

1. Adding an "Examples" section, like we do in the [`aws_s3` sink](https://docs.vector.dev/usage/configuration/sinks/aws_s3#examples).
2. Adding a separate guide that walks through how to setup Clickhouse and use it for the logging use-case, then linking to that guide.
3. Adding any known caveats or beh

[2019-08-20 17:51] a-rodin opened #776 "Keep directory name inside release archives consistent with the archive name"
Doing

[code]
creates directory named `vector-0.3.0-94-ge3e31d0` and doing

[code]
creates directory named `vector-0.3.0-201-gd723a95`.

It makes it harder to use such archives, for example, for building Docker images, as the target directory name cannot be inferred from the archive name.

I think it could have been easier to use if the directory name was the same as the archive without extension,

[2019-08-20 19:58] LucioFranco opened #777 "Update `udp` source to use new `UdpFramed`"
Now that https://github.com/tokio-rs/tokio/pull/1444 has been merged we can reduce the usage of double framed outputs in the `udp` source. This should allow us to use `BytesDelimitedCodec` just like how it is used in the `tcp` source.

cc @ktff

[2019-08-20 20:12] binarylogic commented on #776
Ah, yep, that was not intentional, thanks for letting us know. We'll get this fixed.

[2019-08-20 21:21] lukesteensen commented on #445
@binarylogic Have you rerun this test recently? Following file rotation is something I expect to be working.

One potential issue with your test is the small amount of data you're writing. By default we use the checksum fingerprinting strategy and we need at least `fingerprint_bytes` of data (i.e. 256 bytes by default).

[2019-08-20 22:08] binarylogic commented on #445
Yep, good catch. I ran this test before we introduced the fingerprinting, but I've been meaning to re-run it. So I am not confident this is still an issue. I'll add this to my next sprint and address it then.

[2019-08-20 22:52] lukesteensen commented on #643
@bittrance Once #780 is released, you should be able to fix this by adding something like the following to your config:

[code]

[2019-08-20 23:45] bruceg opened #781 "Add support for podman as an alternative to docker"
"[Podman](https://podman.io/) is a daemonless container engine for developing, managing, and running OCI Containers on your Linux System. Containers can either be run as root or in rootless mode. Simply put: `alias docker=podman`"

See also [Podman: A more secure way to run containers](https://opensource.com/article/18/10/podman-more-secure-way-run-containers)

Adding support for podman to build a

[2019-08-20 23:55] bruceg commented on #543
A quick grep shows at least the following modules:

- [ ] src/buffers/disk.rs
- [ ] src/region.rs
- [ ] src/sinks/aws_cloudwatch_logs/mod.rs
- [ ] src/sinks/aws_cloudwatch_metrics.rs
- [ ] src/sinks/aws_kinesis_streams.rs
- [ ] src/sinks/aws_s3.rs
- [ ] src/sinks/blackhole.rs
- [ ] src/sinks/clickhouse.rs
- [ ] src/sinks/console.rs
- [ ] src/sinks/elasticsearch.rs
- [ ] src/sinks/http.rs
- [ ] src

[2019-08-21 01:47] lukesteensen commented on #763
Hi @marcbowes, sorry you're having issues! If I'm understanding your setup correctly, here's what _should_ be happening, from the beginning:

1. A new file shows up in an `include`'d directory with an unknown fingerprint, so we build a new watcher and stash it away: https://github.com/timberio/vector/blob/48778f848a8b3ee934a28c796d69589eab9b9242/lib/file-source/src/file_server.rs#L169

2. While th

[2019-08-21 08:29] ktff commented on #777
Yes, with an exception that we will need a wrapper around `BytesDelimitedCodec` which will map `Wrapper::decode -> BytesDelimitedCodec::decode_eof`

[2019-08-21 12:48] loony-bean commented on #710
#377 looks relevant.

[2019-08-21 14:41] LucioFranco commented on #777
@ktff not sure I follow what you mean there? Could you explain more?

[2019-08-21 14:48] ktff commented on #777
@LucioFranco  `BytesDelimitedCodec::decode` waits for newline before decoding a message. While `udp` source has one more message after that. Which stretches until eof.

[2019-08-21 14:51] LucioFranco commented on #777
@ktff ah ok, would it make sense to change BytesDelimitedCodec to support reading up to a newline or a certain length say the end of the packet?

[2019-08-21 14:56] binarylogic commented on #683
@LucioFranco any reason this was not closed?

[2019-08-21 15:00] ktff commented on #777
@LucioFranco Nope, since the size of the packet can vary, it would have to change it's behavior on eof which would break other code.

[2019-08-21 19:07] lukesteensen commented on #710
I'm not sure about #377. It'd be simple, but almost too simple to be worth its own implementation and docs. Unless there's a strong demand, I wouldn't worry about it as we work on this issue.

[2019-08-21 20:09] timber-productboard opened #784 "Testing"

[2019-08-21 20:09] timber-productboard commented on #784
Link to feature: https://timber.productboard.com/feature-board/planning/features/2763566

[2019-08-21 20:42] loony-bean commented on #710
Yeah, I just thought that it was capturing the idea of

[2019-08-21 21:36] myfreeweb commented on #732
leveldb-sys 2.0.4 should work

[2019-08-22 06:46] loony-bean commented on #710
Also it seems that string interpolation will be very useful in this context. But I don't see a clear path of doing that, because we do not pass implicit fields to metrics.

[2019-08-23 01:32] lukesteensen commented on #388
I've been playing with a couple of different approaches to implementing this and there are some tradeoffs.

The most obvious is to replace the `b'\n'` in the file watcher with something like a regex indicating the start of a new message. This is relatively straightforward, but wouldn't be immediately sharable with other sources like TCP, stdin, etc. There are also some complications with things li

[2019-08-23 06:42] #769 closed

[2019-08-23 16:22] binarylogic opened #790 "Who's using Vector in production?"
Using Vector in production? Let us know in the comments!

### PSA

We're looking for companies to work closely with to ensure Vector superiorly solves production use cases. If interested please email us at [vector@timber.io](mailto:vector@timber.io).

[2019-08-23 18:30] a-rodin opened #791 "Configs parsing errors on `x86_64-unknown-linux-musl`"
The build for `x86_64-unknown-linux-musl` cannot parse configs.

Example:

`vector.toml`:
[code]

[code]

I'm not sure what exactly causes this, but it should not be MUSL itself, as the build for Alpine from #669 works.

[2019-08-24 04:10] lukesteensen commented on #791
That is very weird. I wonder if there's something that causes [typetag](https://github.com/dtolnay/typetag) to fail to register the different trait implementations?

[2019-08-24 05:32] a-rodin commented on #791
`typetag` uses crate `impl` which is proc macro, so it seems to have something to do with [support of proc macro](https://github.com/rust-lang/rust/blob/beta/src/librustc_codegen_utils/link.rs#L162) for fully static builds.

It looks like proc macro requires working dynamic linker, even for static builds, but `-static` flag is always added to Rust linker’s flags. I will try to remove always added

[2019-08-24 14:32] #684 closed

[2019-08-25 09:50] a-rodin opened #795 "Missing SSL CA certificates on `x86_64-unknown-linux-musl`"
Using `http` sink with HTTPS endpoints yields errors like

[code]

It means that there are no CA certificates that Vector can use. I think one possible solution to this problem would be to bundle CA certificates inside Vector executable to make it self-contained. However, it is not clear what would be the best way to implement it.

[2019-08-25 09:52] a-rodin opened #796 "Add an option to allow unverified SSL certificates in `http` sink"
Some internal HTTPS services might be using self-signed certificates or there might be problems with installation of CA certificates. For such cases it might be handy to have an option in `http` sink to not check the SSL certificate.

Ref #795

[2019-08-25 13:49] a-rodin opened #797 "Commented environment variables are still attempted to be interpolated"
When Vector is launched with this config

[code]

then, assuming that `UNDEFINED_VARIABLE` is not defined, there is a warning

[code]

[2019-08-25 16:07] a-rodin commented on #585
In the meantime, it is possible to send metrics to DataDog using stateful `javascript` transform (#721) combined with `http` sink.

Example:

`vector.toml`
[code]

`datadog.js`
[code]

and the environment variable `DATADOG_API_KEY` should contain the corresponding API key.

[2019-08-25 16:46] binarylogic commented on #797
Thanks @a-rodin. I'm wondering how we can streamline this. Currently, we interpolate env vars before passing the config through the TOML parser. I can't think of a better way to solve this than to move env var interpolation to post TOML parsing. This means we'd have to walk all string values.

[2019-08-25 16:50] #791 closed

[2019-08-25 18:59] a-rodin commented on #797
I think there's nothing bad in walking over string values, it shouldn't be slower that deserialization itself. Maybe it can be implemented by deserializing TOML not directly to `vector::topology::Config` type, but first to `toml::Value`, recursively traversing the resulting `toml::Value` to do interpolations in all strings, and then using `toml::Value::try_into<'_, vector::topology::Config>` to co

[2019-08-26 03:33] binarylogic commented on #364
Closed via https://github.com/timberio/vector/pull/749

[2019-08-26 03:33] #364 closed

[2019-08-26 07:03] a-rodin commented on #797
Although with that approach it would not be possible to use interpolations for non-string values, such as integers and booleans. So probably stripping comments and doing the interpolation after that before parsing would still be necessary to use vars for non-string values.

[2019-08-26 10:50] mre opened #799 "Extend tokenizer transform to support arbitrary split separator"
## Status Quo

As of now, the tokenizer transform splits the input on ~a single whitespace character~ whitespace.
To support more use-cases, the tokenizer could allow for arbitrary separators however.
This would be quite helpful when migrating from Logstash, which [supports that feature](https://www.elastic.co/guide/en/logstash/current/plugins-filters-mutate.html#plugins-filters-mutate-split).

##

[2019-08-26 19:09] lukesteensen opened #800 "Fix and un-ignore kafka source integration test"
See #774

[2019-08-26 19:11] #286 closed, assigned to nobody

[2019-08-26 20:34] dzirg44 opened #801 "GELF input\output format"
Could you consider including GELF log format ?
This format has some features like gzip compression and native docker support.
what would be nice to have:
  - udp
  - compression
  - docker tags,labels,env's
  - tcp
  - tls(tcp)

I think many people can agree with me, that `logstash` isn't a lightweight solution but we still haven't had any nice alternative .

_Sorry for my b Eng._

[2019-08-27 13:10] #551 closed, assigned to bruceg

[2019-08-27 14:39] LucioFranco opened #805 "Update benchmarks to use new criterion"
Now that criterion 0.3 is out https://bheisler.github.io/post/criterion-rs-0-3/ we can update our benchmarks to support this version and we should also attempt to run a pass at cleaning them up and ensuring that they run consistently. This may also mean that we should start using channels to run the topology benchmarks and reduce our usage of runtime threads.

[2019-08-27 15:48] LucioFranco opened #806 "Update sink encoding to be non optional"
~~Most sinks allow the user to specify an encoding type. If this option is not provided the sinks will attempt to check each event and encode it based on if it was explicitly structured by the user. Due to precidence the current implementation of the match statement will attempt to encode the event as a structured event even if the user explicitly included the `encoding = "text"` option. This shou

[2019-08-27 18:37] binarylogic opened #807 "Vector to vector load balancing & failover"
Similar to #288, I'd like to see us implement load balancing in the `vector` sink. Since the `vector` sink uses TCP under the hood we should be able to accomplish this once #288 is done. The only open question is failover, which could be considered an alternative load balancing strategy.

[2019-08-27 19:00] ktff commented on #777
It is, I'll implement it tomorrow.

[2019-08-27 19:22] #250 closed, assigned to LucioFranco

[2019-08-27 21:07] kirillt commented on #288
For me it sounds like it should be abstracted to the topology level (balancing any sink via virtual copy of it), because generally balancing could make sense with HTTP/UDP/whatever. But agree with @lukesteensen's concern about deliverability. With implementing the feature at connection level we can rebalance events from dropped connection to any of living ones.

Probably, possible to implement a t

[2019-08-28 22:06] mre commented on #799
I agree that if I defined `,` as a separator, it would come as a surprise to me if the input was also split by other separators like quotes. The current choice of separators of `tokenizer` is a bit odd to me because I could think of a related separators that are currently not taken into account - like single quotes, parentheses, or angular brackets.

For instance if the input is

[code]

then the

[2019-08-28 22:32] LucioFranco commented on #543
@bruceg one commit per sink/source/transform works and then bunch them into their own PR.

[2019-08-28 22:55] bruceg commented on #543
I've done all the (for example) transforms as one commit. Are you saying you would rather break them into separate commits per file (which won't actually compile until the last commit) or am I misunderstanding?

[2019-08-28 23:27] LucioFranco commented on #543
@bruceg honestly, whatever is easier for you, I'm happy to review it either way.

[2019-08-29 18:24] lukesteensen commented on #543
Yeah, please feel free to break it up however is easiest for you.

[2019-08-29 19:18] #777 closed

[2019-08-29 19:50] LucioFranco commented on #807
We should be using tower's middleware to support these use cases.

[2019-08-29 19:51] LucioFranco commented on #288
@lukesteensen do you think it would make sense to implement TCP sink based around tower, with an immediate response type? This would allow us to use different middleware that tower provides.

[2019-08-29 19:51] lukesteensen commented on #807
These aren't using request/response protocols, so I'm not sure how tower would fit in.

[2019-08-29 19:54] lukesteensen commented on #288
I'm not sure how awkward that would be vs just doing a simple round-robin ourselves. I'm sure we could get it working, but I'd want to be sure it's a reasonable match.

[2019-08-29 19:54] LucioFranco commented on #807
@lukesteensen technically TCP uses ACK to kinda be a response? I think there should be a way to use tower with it. A lot of that state machine for doing reconnects etc are already implemented with tower middleware. Not a big deal just thinking here.

[2019-08-29 19:57] lukesteensen commented on #807
I mean _technically_, sure, but none of that is at the application layer :smile:.

I'm sure we could use tower for it. If that makes the code simpler and lets us ship the feature faster, then great, we should use it. I just want to be sure that's the case before we start applying something that isn't obviously a great fit for the use case.

[2019-08-29 19:59] LucioFranco commented on #807
@lukesteensen I don't believe in the OSI MODEL! 😄

Yeah I agree and I am happy to take a look to spec out how that might work before we start working on this.

[2019-08-29 20:10] lukesteensen commented on #799
That's a fair point. It's intended to cover the family of log formats related to the [Common Log Format](https://en.wikipedia.org/wiki/Common_Log_Format), which use the supported delimiters but can vary in the number and position of fields. Supporting other delimiters is definitely something I'd be open to.

This is a good point, but I'm not terribly concerned about it. The support for delimited f

[2019-08-29 20:23] LucioFranco commented on #795
@a-rodin do we just need a well known ca root? but I think bundling them is fine to do as well.

[2019-08-30 17:18] LucioFranco opened #812 "Allow `--config` to be optional and let vector search for the config"
In the case of docker, I want to copy a config into `/etc/vector/vector.toml` and not have to supply the --config argument. This should allow seamless usage with automated systems.

[2019-08-30 17:23] a-rodin commented on #795
@LucioFranco Yes, what is needed is a CA root. In fact I ran it on a system that had CA certificates installed in `/etc/ssl/certs`, but still was getting this error. I think this might have something to do with configuration of LibreSSL which cannot find system-wide certificates.

The idea about bundling came to my mind because it allows to build, for example, Docker images  based on `scratch` and

[2019-08-30 20:12] timberio-campfire opened #813 "Initial AWS ECS support"
We'd like to officially support Amazon's ECS platform.

<p></p>

- We should start with a specification to determine the best path forward.

- Its possible this might just wrap existing sources.

- Its possible this might just be an installation page in our documentation.

# Prior Art

* https://github.com/aws/containers-roadmap/tree/master/preview-programs/firelens#3-decorate-logs-with-ecs-metada

[2019-08-30 20:12] timber-productboard commented on #813
Link to feature: https://timber.productboard.com/feature-board/planning/features/2784928

[2019-08-30 20:12] timberio-campfire opened #814 "Initial AWS EKS support"
We'd like to officially support Amazon's EKS platform.

<p></p>

1. We should start with a specification to determine the best path forward.

2. Its possible this might just wrap existing sources.

3. Its possible this might just be an installation page in our documentation.

[2019-08-30 20:12] timber-productboard commented on #814
Link to feature: https://timber.productboard.com/feature-board/planning/features/2784927

[2019-08-30 20:34] LucioFranco commented on #814
@binarylogic I think this makes sense, do we also want to open a more generic kube issue since I believe the implementation that will work for eks will work for any kube deployment?

[2019-08-30 20:36] binarylogic commented on #814
Yes, #260 handles that.

[2019-09-01 04:07] sjolicoeur commented on #732
Apologies for the delay I tried `cargo build --release --no-default-features` but to no avail

[code]

adding `leveldb-sys = "2.0.4"` to `Cargo.toml` resulted in:

[code]

[2019-09-01 08:39] myfreeweb commented on #732
@sjolicoeur the message is telling you to install protobuf

[2019-09-01 16:26] kirillt commented on #741
@fcantournet As a workaround, if your system uses `rsyslog` (most probably if you use linux), you can pipe Nginx logs into Vector through it. This way Vector outputs something like this:
[code]

The recipe is the following:
1. Put `access_log syslog:server=unix:/dev/log,tag=nginx,severity=info combined;` into `/etc/nginx/nginx.conf`.
2. Put `action(type="omfwd" Target="0.0.0.0" Port="10514" Protoc

[2019-09-01 16:58] ktff commented on #260
I have filled in the Behavior section.

[2019-09-01 18:18] sciyoshi commented on #260
Prior art also includes Filebeat, which has a processor that adds K8s metadata: https://www.elastic.co/guide/en/beats/filebeat/master/add-kubernetes-metadata.html

[2019-09-01 21:11] binarylogic commented on #353
@lukesteensen just confirming, is there any reason these fields aren't included? I'd like to have @kirillt further parse the lines and include this data if not.

[2019-09-01 22:01] sjolicoeur commented on #732
installed `pkg  install protobuf` version `3.7.1`. And... Great news! It compiled!  Less great news it is giving me an error:

[code]

is there a way to list the supported variants from the command line?

[2019-09-02 07:41] yujinqiu opened #819 "Will kafka sources type topic support pattern ?"
Hi,
vector's performance is really impressive and I want to migrate my logstash to vector.   logstash's current functionality is  consumer data from  kafka topic and sink to  ES.

[code]

And  I browse  vector's

[code]
From:  https://github.com/timberio/vector/blob/0f72a2b1669a97e4838d3ca852d2f68a878915f4/docs/usage/configuration/sources/kafka.md

Is it possible to configure  topics like this

[c

[2019-09-02 08:27] yujinqiu opened #820 "Can I chain transforms ?"
Hi there,

Is there any plan to chain transforms ?  that's  one transform's  output become another  transform's input  not just  from source.

[2019-09-02 11:52] loony-bean commented on #820
Hi! You can do that right away. Please check the [example config](https://docs.vector.dev/usage/configuration#example), where `apache_sampler` transform is using `apache_parser` transform as input.

[2019-09-02 19:21] trK54Ylmz opened #822 "New `gcp_cloud_storage` sink"
Do you have any intention to add support for Google Cloud Storage as sink?

[2019-09-02 19:26] binarylogic commented on #822
Thanks @trK54Ylmz. Yep! We're starting to focus on GCP services and will add this to the list. We'll update as we make progress.

[2019-09-03 08:38] idohalevi commented on #621
@binarylogic @LucioFranco
I'm trying to use Vector with the HTTP sink and it seems like it doesn't recognize the key `healthcheck` as the doc specifies.

The error I get is: `ERROR vector::topology: Configuration error: unknown field `healthcheck` for key "sinks.out"`

I use: `version="0.3.0" git_version="v0.3.0" released="Tue, 02 Jul 2019 08:25:35 GMT" arch="x86_64"`

[2019-09-03 11:53] gumieri opened #823 "Use of `statsd` tags with `aws_cloudwatch_metrics`"
Hi!

I've tried the `aws_cloudwatch_metrics` sink which is yet with no documentation, so excuse me if what I'm saying is already possible.

I'm interested of using vector to collect metrics from my Go web server application and sending it to the CloudWatch Metrics for scaling purposes. And I'm also interested in sending it to our data lake for the Science Data team. Because of the simplicity of th

[2019-09-03 12:29] binlab commented on #801
Will be great to have this functionality near future!

[2019-09-03 13:36] loony-bean commented on #823
Thanks @gumieri! Support for tags has been added few weeks ago, it's available in the `master` branch. Docs are in progress, sorry for the trouble.

You should be able to ingest StatsD metrics in DataDog [format](https://docs.datadoghq.com/developers/dogstatsd/datagram_shell/#datagram-format), which is I believe what CloudWatch Agent is using for tags. CloudWatch metrics sink then recognises the t

[2019-09-03 14:05] binarylogic opened #824 "Add `aws_cloudwatch_metrics` docs"
We need to add pages for this sink.

[2019-09-03 14:05] gumieri commented on #823
Thank you! I'm going to try it!

And thank you all for the great work!

[2019-09-03 14:05] #823 closed

[2019-09-03 14:36] LucioFranco commented on #621
@idohalevi this was implemented after `0.3.0` release. There should be nightly releases available but we should be getting `0.4.0` out.

[2019-09-03 14:37] LucioFranco commented on #732
@sjolicoeur odd, could you paste what commit sha you are on?

[2019-09-03 14:46] a-rodin commented on #732
Could it be the same issue as in #791? The problem there was mitigated by use of GNU `ld` instead of LLVM `lld` (#794). Probably the linker used here is LLVM `lld` too.

Assuming that the system C compiler is `clang`, the linker used by Rust can be changed to the GNU one by exporting `RUSTFLAGS=-Clink-arg=-fuse-ld=/usr/local/bin/ld`, where `/usr/local/bin/ld` is the path to GNU `ld`.

[2019-09-03 15:48] a-rodin opened #825 "Add check for memory leaks to CI"
A check for memory leaks can be added to CI in order to detect leaks caused by native dependencies. It can be done in a way similar to how it was [added to `quick-js` crate](https://github.com/theduke/quickjs-rs/pull/38/commits/9a8f7c7118487e7fbca0fedf0895697e6725f063).

[2019-09-03 18:26] myfreeweb commented on #732
The system linker is indeed LLD on modern FreeBSD.

You don't need the full path btw, just `-fuse-ld=bfd` to use the (ancient) GNU BFD `ld` in base.

// Is this a bug in LLD or in `typetag`? Does the LLD team know about this?

[2019-09-03 19:00] a-rodin commented on #732
It might be related to [this issue](https://github.com/rust-lang/rust/issues/45601). But if it is an LLD and not Rust compiler problem, then I think it should be isolated (i.e. reproduced without Rust) before reporting.

[2019-09-03 19:26] LucioFranco commented on #260
@ktff thank you for writing this up!

I think this approach sounds generally pretty good!

Do you have an example of what this would look like? This kinda sounds a bit messy and something we may not want to do. Even for IDE's this will make the formatting harder.

I think actually embedding the toml within the yaml will make it less sharable since many users will share their configs as direct toml

[2019-09-03 20:11] moschroe opened #826 "Working example for manual x86_64-unknown-linux-musl build with docker"
I wanted to build vector for x86_64-unknown-linux-musl locally, using the builder image created using `scripts/ci-docker-images/builder-x86_64-unknown-linux-musl/Dockerfile`.

I had to guess the invocation by reading `.circleci/config.yml` since I do not run circleci on my workstation, so this it what I came up with:
`docker run --rm -ti -v "$(readlink -f .):/tmp/build" --user 0 --env 'VERSION=0.3

[2019-09-03 20:55] LucioFranco opened #827 "Support custom DNS resolution"
As we start to support more cloud native environments users will probably want to use custom DNS resolution to find downstream services. An example of this would be using consul's DNS server to find some downstream sink. Vector should have this support out of the box.

# Use case

As a user, I want vector to be able to find downstream services using custom DNS resolution configuration.

# Solution

[2019-09-03 21:37] #796 closed

[2019-09-03 22:35] spuder opened #828 "File sources do not work"
Trying to do a proof of concept on my mac with vector

[code]

I find that when I start vector, it is able to read from stdin, but not from the file `/tmp/input.log'

[code]

Vector is:
1. Running as root
2. Pointed to the correct config file
3. /tmp/input.log exists
4.. /tmp/input.log has permissions that should be readable by vector
[code]

I suspected that since mac creates a symlink for `/tmp`

[2019-09-03 23:39] rwfeatherf5 opened #829 "No "latest-<distro>" tags available through docker hub"
Hey, going though the getting started guide and it seems the recommendations for docker in [the docs](https://github.com/timberio/vector/blob/master/docs/setup/installation/platforms/docker.md) don't match current available tags. Apologies if I'm missing something.

Running `docker run -v $PWD/vector.toml:/etc/vector/vector.toml:ro timberio/vector:latest-alpine` gets me:

[code]

https://hub.docke

[2019-09-04 12:05] ktff commented on #260
@LucioFranco thank you for the detailed feedback.

Here is an example of how it looks:
[code]
Obviously there are things missing, but this is only an example.

IDE's should format `yaml` correctly, but yes `toml` part probably wont have special syntax. I have tried it out in online `yaml` formatters, and they deal with it nicely, and they recognize `toml` as a string. Editing is also nice. Try it

[2019-09-04 14:20] binarylogic commented on #260
I don't have all of the content here, but embedding TOML in the YAML is perfectly fine as a first step. I've seen this done before (ex: Elasticbeanstalk configuration). I don't think it's a blocker for the first version of this unless we have a light weight alternative.

[2019-09-04 15:00] lukesteensen commented on #828
Hi @spuder! Sorry you're running into an issue here, and thanks for letting us know!

How much data have you written to `input.log`? [By default, vector uses a checksum of the first 256 bytes of a file to uniquely identify it](https://docs.vector.dev/usage/configuration/sources/file#file-identification). A side effect of that strategy is that it won't do anything with files that don't yet have 256

[2019-09-04 15:03] lukesteensen commented on #260
Agreed. A potential next step that would be pretty simple could be a very basic "fetch config over http" feature.

[2019-09-04 15:05] LucioFranco commented on #260
@ktff

Ok, I think the embedded is fine for now but it seems like we will have to build a way to load the config via env var as well? Which I think is totally fine for now!

As for the config coordination, how do you expect that a vector to vector sink might find each other? I assume in a centralized setup we would have many agents to one server/master/primary. This master would live as some sort

[2019-09-04 17:06] LucioFranco commented on #829
@rwfeatherf5 hi! I believe this change was introduced after our last actual release of `0.3` so the ci job to build the latest containers has not run yet. I believe we should be getting `0.4` out soon.

[2019-09-04 19:04] LucioFranco commented on #826
I think that would be a good idea to document! I think it could go in some advanced build section.

[2019-09-04 19:46] #694 closed

[2019-09-04 20:26] #820 closed

[2019-09-04 20:42] lukesteensen commented on #819
Hi @yujinqiu! This is actually supported today, but with a slight wrinkle because of the way the underlying kafka library ([librdkafka](https://github.com/edenhill/librdkafka)) works. See the comment [here](https://github.com/confluentinc/confluent-kafka-python/issues/56#issuecomment-261073017).

The gist is that librdkafka looks for a `^` prefix to determine when a topic name should be considered

[2019-09-04 22:16] #388 closed

[2019-09-04 22:31] lukesteensen commented on #353
Oops, answered this elsewhere but forgot to post here.

There is no reason the fields aren't included and we should feel free to go ahead and do so. They already get parsed, we just don't add them to the event. We will want to think about namespacing since they're somewhat hierarchical, but that should be simple enough (e.g. `{{namespace}}.{{key}}`).

[2019-09-05 03:25] yujinqiu commented on #819
@lukesteensen  awsome,  thanks .

[2019-09-05 03:25] #819 closed

[2019-09-05 10:30] karlseguin opened #832 "Ability to include multiple Vector configuration files"
Don't think this is currently supported, but is there any appetite for an `include` directive to include other config files? Helps organize things a little better (distinct sources -> transform -> sink flows can be in their own file).

[2019-09-05 10:57] iam4x opened #833 "pushing to aws elasticsearch"
Hi 👋

I'm trying to setup vector as replacement of our EC2 ELK stack with running vector + AWS ElasticSearch service.

When I'm pushing data to AWS ElasticSearch with the sink I'm having errors from elasticsearch:

[code]

To debug, I tried to use the `console` sink and it works as expected. I'm seeing a good JSON.

Here's my `vector.toml` config as example:

[code]

I'm suspecting colorized strin

[2019-09-05 12:21] kirillt commented on #353
@lukesteensen Yep, I implemented basic version of this yesterday. For structured data (where we have map of map) I flatten keys and put entries into events like this: `id1.name11=value11`, `id2.name21=value21`, etc.

[2019-09-05 13:26] a-rodin opened #834 "Add Docker image based on `scratch`"
Some people package their statically built executables for Docker using the `scratch` base image. Although it has both advantages and disadvantages (see for example [this discussion](https://www.reddit.com/r/golang/comments/7fs0lb/if_you_are_compiling_go_binaries_then_just_use/)), those who want the Vector image to have smallest possible size would like it.

This can be implemented by packaging th

[2019-09-05 15:41] lukesteensen commented on #353
@kirillt That sounds good!

[2019-09-05 18:00] ktff commented on #260
@LucioFranco

Yes.

Yes, in the above example that is visible as $(MASTER_VECTOR_SERVICE_HOST) and $(MASTER_VECTOR_SERVICE_PORT) env var. That feature will save us from a lot of issues.

[2019-09-06 08:33] dsv-dungnt commented on #742
anyone success with regex_parser?
I try with default example regex for apache2 log but console output only show message field

[2019-09-06 08:40] nhymxu commented on #742
anyone success with regex_parser?
I try with default example regex for apache2 log but console output only show message field

[2019-09-06 17:34] tdesrochers opened #837 "FEATURE REQUEST: Read from UDS Socket"
We currently utilize another shipper and it has the ability to read from Unix Domain Sockets (UDS).  This is helpful when reading from Journal/Kernel and other sockets that get created for logging.

https://nxlog.co/documentation/nxlog-user-guide/im_uds.html
https://www.elastic.co/guide/en/logstash/current/plugins-inputs-unix.htmlhttps://docs.fluentd.org/input/unix

This feature would keep Vector

[2019-09-06 17:49] tdesrochers opened #838 "Add SSL to kafka_sink"
Other loggers allow you to ship logs to kafka utilizing SSL or Kerberos.  having this feature would allow customers to keep their data secure during transport.

https://www.elastic.co/guide/en/logstash/current/plugins-outputs-kafka.html#plugins-outputs-kafka-security_protocol

https://nxlog.co/documentation/nxlog-user-guide/om_kafka.html

https://docs.fluentd.org/v/0.12/output/kafka

[2019-09-07 16:06] binarylogic commented on #838
Thanks @tdesrochers , noted! We have a general security project we're working through. I'll add this to the project.

[2019-09-07 16:09] binarylogic commented on #837
@tdesrochers thanks! I'm going to close this in favor of https://github.com/timberio/vector/issues/837. Let me know if this isn't the same thing.

Appreciate the feedback!

[2019-09-07 16:09] #837 closed

[2019-09-07 17:23] kirillt commented on #353
I figured out one corner case, which works not the way I expected.
Structured data without children, e.g. `[id1]`, produces no map at all.

Personally, I expected that it would produce empty map, but `syslog_rfc5424` works this way.
Should we handle this or this behavious is OK?

[2019-09-07 17:53] binarylogic commented on #837
Ah sorry, meant https://github.com/timberio/vector/issues/339

[2019-09-07 21:53] binarylogic commented on #827
@LucioFranco can you provide more detail on this? Which sinks would need this? It's not clear on this issue what work actually needs to be done.

[2019-09-07 21:55] binarylogic commented on #812
Can you explain why this is needed in the case of docker? Is there not a way to provide command-line arguments?

[2019-09-07 22:07] binarylogic commented on #421
@lukesteensen what exactly is left on this?

[2019-09-08 16:28] LucioFranco commented on #827
@binarylogic I updated the description should be more clear now.

[2019-09-08 16:29] LucioFranco commented on #812
@binarylogic In the simple case of docker, I would like to use a volume link to pass the config in and just "run" the container without any specific commands or customizing the container.

Vector, in general, should just search the default paths for a config before failing. I think this provides a much better UX and we already have default config directories.

[2019-09-08 17:52] binarylogic opened #839 "New `aws_ecs_metadata` transform / enrichment"
As a follow up to https://github.com/timberio/vector/issues/736#issuecomment-520803241, we should provide the ability to enrich logs and metrics data with AWS ECS environment data.

[2019-09-09 14:14] binarylogic opened #841 "Log rate limit errors, internal and external"
If a sink is being rate-limited either internally or externally we need to log what is happened to communicate to the user that data is being rate-limited.

Logging for internal rate limits is especially important since users can generally adjust setting to eliminate this.

[2019-09-09 14:24] binarylogic opened #842 "Add log message if file is ignored due to too little content"
A follow up issue for https://github.com/timberio/vector/issues/828#issuecomment-527941051

We need to communicate to users when a file is ignored for whatever reason.

[2019-09-09 14:28] binarylogic opened #843 "Spec out raise reliability confidence project"
We need a high-level plan/specification for how we want to complete this project. Afterwards, we'll create all of the issues representing this work.

[2019-09-09 15:12] binarylogic commented on #711
Closing this since everything is aligned and represented as seconds internally. Please reopen if any of the sinks are not operating on second units.

[2019-09-09 15:12] #711 closed

[2019-09-09 15:17] binarylogic commented on #741
Noting, to close this issue we need to:

- [ ] Log when messages are dropped (should be rate limited)
- [ ] Explicitly note in the `syslog` source docs that 3164 is not supported and provide alternative solutions.
- [ ] Add warning in docs that 3164 is not supported.

[2019-09-10 09:45] Kovah opened #844 "What about Timber.io?"
Hi,
sorry to bother you this way but I see no other way to contact anyone of your company.
Is Timber.io still in active operation or is it kind of maintenance only? Because we mailed the support email several times in the past weeks but just got a "Our office is currently closed" response.
Anyway, you should urgently check your pricing page. It is highly misleading as it offers services, which are

[2019-09-10 14:27] binarylogic commented on #260
It sounds like we're in agreement with the above spec. Nice work @ktff! I think we're ready to proceed work unless you have any outstanding issues you'd like to discuss?

Before we dive, how do you want to break this up across pull requests? Do you want to address this in a single PR or break it up into steps?

[2019-09-10 14:28] mre opened #846 "`make generate` fails on master"
I ran `make generate` from a clean checkout inside a folder in a temporary folder and this is the output I get:

[code]

Am I the only one getting this error?
My ruby version is ```ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]```

[2019-09-10 14:36] mre commented on #846
Strangely, adding a `puts(url)` at `scripts/generate/metadata/links.rb:199`, I found out that the culprit url is https://github.com/timberio/vector-test-harness/tree/master/cases/tcp_to_tcp_performance, which is perfectly reachable from here.

Here's the full output:

[code]

Might well be something that is only broken on my machine.

[2019-09-10 14:45] mre commented on #846
Running `make generate` again, I now get the following error:

[code]

This file is missing at the moment; I can not retrieve it from the browser. Maybe we forgot to publish the new docs after we added the Kafka source @a-rodin?

It could be that I sometimes run into timeouts when retrieving any of the other, existing, pages. This would explain why the previous error about `performance.md` is now

[2019-09-10 14:50] ktff commented on #260
Excellent.

There is a lot of moving parts in the specification, and around it. So going with smaller steps is the way.

I see three PRs:
1. Decentralized configuration, without `kubernetes source` optional configuration.
   - This will also serve as a proof of concept.
2. Centralized configuration.
   - Major networking questions are contained in this.
3. `kubernetes source` optional configuratio

[2019-09-10 14:53] LucioFranco commented on #260
@ktff 1. sounds 👍 to me, 2. I think maybe we can do last, I do feel like it is one area we have not spent much time on anyways. 3. Curious what you see this containing? Is this more related to adding additional k8 metadata to events or is there something else?

[2019-09-10 15:09] ktff commented on #260
@LucioFranco 3. will need to fetch additional info on pods it encounters in the log folder. More specifically, name and label-value pairs. They are needed to support `kubernetes source` optional configuration.

Alright, we will do 2. last. So 1. 3. 2. is the order.

[2019-09-10 15:12] LucioFranco commented on #260
@ktff sounds good 👍 , do you know if this pod level info is available on disk, will it require hooking into k8's api, or is it fetchable via env var?

[2019-09-10 15:13] mre commented on #846
Okay I think with the latest commits by @binarylogic (thanks!) the issue with the Kafka source seems to be fixed now. I still run into the first `./performance.md` issue, though. Not sure what to try next. 😅

[2019-09-10 15:20] ktff commented on #260
@LucioFranco I know that it's available on k8's api, and how to hook on it. That's the worst case scenario, but it's doable. I haven't encountered other better ways of getting them. But, I also didn't specifically searched for that. And that was enough for the specification, but I plan to address that when it's 3. order to be implemented.

[2019-09-10 15:46] mre opened #847 "New `geoip` transform"
In our logstash pipelines we have quite a few calls to a GeoIP database.
See the [logstash filter for more info](https://www.elastic.co/guide/en/logstash/current/plugins-filters-geoip.html).
It would be great to have the same functionality in vector.

## Alternatives

* This might also be possible with Lua, although I haven't tried it. From what I can tell, the geoip modules for Lua are not seeing

[2019-09-10 16:05] binarylogic commented on #846
@mre sorry about that! I did indeed push some commits that fix everything. Let me know if you encounter anything else.

[2019-09-10 16:05] #846 closed

[2019-09-10 16:12] mre opened #848 "Add support for gzipped files to file source"
We have a few pipelines which read gzipped files, transform them and send the result to Elasticsearch. It would be great to have the same functionality in vector.

In Logstash, this is done automatically if the input file is of type `gzip`.
For further reference, [here](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-file.html#plugins-inputs-file-mode) is the logstash file input pl

[2019-09-10 16:49] mre commented on #848
AFAICT there are two libraries we could use for gzip support, [flate2-rs] and [deflate].
While deflate is a pure Rust implementation of the flate algorithm, flate2-rs is arguably a bit faster according to some rudimentary benchmarks on the deflate `README.md` and has more contributors so far. The disadvantage is that flate2-rs requires C-bindings.
So if we go for flate2-rs, we should put gzip supp

[2019-09-10 17:30] lukesteensen commented on #848
This is interesting! I'm curious how they go about determining which files are gzipped and which aren't. Looking for an extension would be simple but maybe not the most reliable. Or do they rely on it being configured?

We actually already bring in the `flate2` crate for the gzipping we do ourselves for some sinks.

[2019-09-11 10:52] mre commented on #848
Yup, they just check the file extension:

https://github.com/logstash-plugins/logstash-input-file/blob/9d698b1d766655e868aa788b5b104b7a3e91b27d/lib/filewatch/watched_file.rb#L186-L188

Not sure if I understand. Here's a typical configuration:

[code]

So we could go ahead and start with the extension detection for now and then move to more sophisticated mechanisms later?

[2019-09-11 10:58] mre commented on #847
An alternative might be [maxminddb-rust](https://github.com/oschwald/maxminddb-rust). Seems to be actively maintained and used by a few GeoIP webservices written in Rust ([here](https://github.com/mroth/nanogeoip/blob/master/Cargo.toml#L16) and [here](https://github.com/ffissore/geoip-rs/blob/master/Cargo.toml#L18)).

[Here](https://github.com/oschwald/maxminddb-rust/blob/master/examples/lookup.rs

[2019-09-11 13:43] mre opened #849 "`make generate` fails on new transform"
While creating a new transform, I ran into the following issue when generating the documentation with `make generate`:

[code]

Creating an empty file before running `make generate` fixes the problem for me.
I think we should check [here](https://github.com/timberio/vector/blob/master/scripts/generate.rb#L117) if the file exists.

[2019-09-11 14:03] karlseguin commented on #498
Then the documentation probably shouldn't define `rate` as:

[2019-09-11 14:21] lukesteensen commented on #498
Yep, that's a documentation bug. Sorry about that! I'll push a fix shortly.

[2019-09-11 14:36] #498 closed

[2019-09-11 16:55] #344 closed

[2019-09-12 02:38] lukesteensen commented on #763
With #810 now merged, we have a flag that adjusts our behavior to better match the rotation strategy you described. Hopefully that should be enough to address the pathological behavior you saw here, but we also have #841 to ensure that any rate limiting (which could lead to this issue) is clearly reported.

Thanks again for the report @marcbowes and please do let us know when you're able to try ou

[2019-09-12 02:38] #763 closed

[2019-09-12 04:41] xcaptain commented on #775
Hello, is the clickhouse sink ready to use? I'm trying to save my nginx log into clickhouse, is that means I have to compose an insert statement in my transformer so clickhouse can receive my log?

[2019-09-12 05:25] binarylogic commented on #775
@xcaptain yes, it is ready and it should work as expected. Although, you'll need to understand how to use ClickHouse to properly insert the data. We plan to write guides on that, which is what this issue represents.

[2019-09-12 07:22] xcaptain opened #851 "Add a field mapping transformer"
A raw log may contain many fields but at last we may only care some of them and want them to have a different name, For example, a transformer produces log like

[code]

we may want to rename field `a` to `b` and remove field `c` and get a result like

[code]

currently the `add_fields` and `remove_fields` transformer can not achieve this goal.

[2019-09-12 08:11] fujianan opened #852 "Use docker start error"
ERROR vector::topology: Configuration error: missing field `inputs` for key `sinks.print`

[2019-09-12 08:13] fujianan opened #854 "use kafka as source ,start error"
ERROR vector::topology: Configuration error: unknown variant `kafka`, expected one of `file`, `statsd`, `stdin`, `syslog`, `tcp`, `vector` for key `sources.kafka_source.type`

my configuration:
[code]

[2019-09-12 10:46] romvarac opened #855 "Problem with connecting prometheus in v0.3"
Hi Team, I try to connect sinks prometheus in document v.03 but not work. May be in v.03 not using sinks promethes ???
1. vector.toml in https://docs.vector.dev/v/v0.3/usage/configuration/sinks/prometheus.
[code]
Error: vector::topology: Configuration error: missing field `when_full` for key `sinks.out.buffer`
2. Changed config
[code]
ERROR vector::topology: Configuration error: Sink "out": Must s

[2019-09-12 11:48] gumieri opened #856 "metric sum with batch to `aws_cloudwatch_metrics` or a aggregation transform"
Hi.

The CloudWatch Metrics (PutMetricData) have some hard limits:

- 20 items (MetricDatum) per request;
- 40 KB for HTTP POST requests.

I am trying to use the Vector in production for counting requests according some categories inside my application, but it receives 10k rpm. So I need to batch it all before sending it to CloudWatch.

I am having this error using the `aws_cloudwatch_metrics`:
[c

[2019-09-12 11:55] karlseguin opened #857 "Lua transformer type loss"
Seems like int/floats get converted back into strings if manipulated via lua. Not sure if this is avoidable. My current solution is to run a coercer to get it back into an an int.

Reproduced with:
[code]

Run: `echo 1 | vector --config config.toml`

Expect: `{"time":2, ....`
Actual: `{"time":"2.0",...`

[2019-09-12 15:46] binarylogic opened #859 "Support ARMv7"
To ensure Vector can be used on IOT devices like Raspberry PI we should provide pre-built ARMv7 archives. The tricky part will be supporting `leveldb` as well as `rdkafka`.

I'm unsure exactly which target triple we need to support for this, and I'd like to lightly spec this out before beginning work to ensure we're supporting the right target.

[2019-09-12 15:49] #544 closed, assigned to nobody

[2019-09-12 15:56] binarylogic opened #860 "Remove x86_64-unknown-linux-gnu target in favor of x86_64-unknown-linux-musl"
I'd like to audit the [current `x86_64-unknown-linux-gnu` build step](https://github.com/timberio/vector/blob/bf81efdddf801232aa44ab76184e1368f1ce4f78/.circleci/config.yml#L156) since I originally set this up. I am by no means an expert in this domain and would prefer someone who is to audit what's going to ensure our releases for this target are correct. Specifically, the questions I have:

1. We

[2019-09-12 16:00] binarylogic opened #861 "Audit and cleanup current Docker build process"
I'd like audit, cleanup, and improve our current Docker build process. I originally set this up when we launched Vector and someone with more knowledge in this domain can probably identify improvements in this process.

Specifically:

1. Can/should we support more underlying distros?
2. Are there best practices we are not following as it relates to structuring our containers? (Ex: using `ENTRYPOIN

[2019-09-12 16:09] binarylogic opened #862 "Look into unlocking from PackageCloud"
Currently, we use [Package Cloud](https://packagecloud.io/) for our distribution of `rpm` and `deb` packages. I think this service is simple and excellent but we're locked in. Notice the [Debian installation instructions](https://docs.vector.dev/setup/installation/package-managers/apt#install).

I think it's worth lightly looking into the possibility of avoiding this lock-in. If there is an easy a

[2019-09-12 22:44] #353 closed, assigned to kirillt

[2019-09-13 09:54] loony-bean commented on #855
Oh, got it. I missed the fact you are using 0.3. Yes, these modules received many updates recently, and I'd recommend using nightly or waiting for 0.4.

[2019-09-13 14:50] #842 closed

[2019-09-13 14:52] lukesteensen commented on #828
I've added some logging that should hopefully make this behavior clearer in the future. Please feel free to reopen if you're still seeing any issues!

[2019-09-13 14:52] #828 closed

[2019-09-13 15:20] bruceg commented on #327
I did not close it as two of the spec points are unfinished (the `include` and `exclude` filters). There should be a transform that can do this, but there is none that completely fits.

[2019-09-13 16:09] lukesteensen commented on #857
This is an unfortunate shortcoming of our existing lua transform. Using the coercer is a good workaround, but this is something we plan to address. Thank you for opening the issue!

[2019-09-13 16:26] lukesteensen commented on #851
Thanks for opening this @xcaptain! You're right that there is a gap in those transforms around renaming fields.

This is a good example of a situation where I'd recommend using the lua transform. Here's the equivalent of your example config:

[code]

If you want to remove the old `status` field, you can add `event["status"] = nil`.

We are also in the process of planning a more general transform t

[2019-09-13 16:31] lukesteensen commented on #851
Closing in favor of #750

[2019-09-13 16:31] #851 closed

[2019-09-13 17:48] a-rodin commented on #795
It turns out that it is necessary to use [openssl-probe](https://github.com/alexcrichton/openssl-probe) crate to find system SSL certificates.

[2019-09-13 17:54] LucioFranco commented on #795
@a-rodin yeah, that makes sense.

[2019-09-13 18:18] lukesteensen commented on #833
Hi @iam4x! Sorry for the trouble you're having here.

Could you try setting `compression = "none"` in your sink config? We use gzip by default but that may not be supported by the AWS ES service.

[2019-09-13 18:26] lukesteensen commented on #852
Would this have been fixed [here](https://github.com/timberio/vector/commit/e190e96e925d819d7460fab64f37fdb4241b88ad#diff-a483903d66eec8009ab46ecd70dc2d6cR35) and just not released yet? @binarylogic

[2019-09-13 20:01] a-rodin opened #865 "Topic offsets for Kafka source are not always committed"
I observed that there are issues with offsets not being committed despite the corresponding methods from `rdkafka` crate are called. I haven't investigated the problem thoroughly though.

[2019-09-13 20:05] a-rodin commented on #859
On ARMv7 there are two targets supported by Rust where it would make sense to run Vector, `armv7-unknown-linux-gnueabihf` and `armv7-unknown-linux-musleabihf`. They are fully analogous to `x86_64-unknown-linux-gnu` and `x86_64-unknown-linux-musl` correspondingly.

## Native builds

On-device build with all features for `armv7-unknown-linux-gnueabihf` is analogous to build for `x86_64-unknown-linux

[2019-09-13 20:31] binarylogic commented on #859
Excellent write-up! Thank you. The conclusion steps make sense to me.

[2019-09-13 21:05] #474 closed

[2019-09-13 21:27] lukesteensen commented on #847
Definitely agree that this would be a great feature to have and makes sense to do as a native transform.

The maxminddb crate looks great. I'd be curious to benchmark performance and memory usage, but my main question would be about the database files themselves. It seems like the options would be:

1. Distribute them with vector
2. Introduce functionality in vector to fetch them
3. Document that

[2019-09-13 22:11] MarkusH commented on #847
License wise, I think the only sensible way is option 3, to document that a user needs to get the database files from somewhere. And with that, essentially making the path to the database file configurable.

[2019-09-14 14:50] #849 closed

[2019-09-14 14:50] binarylogic commented on #849
Thanks for reporting! Should be all good now.

[2019-09-16 02:29] xcaptain commented on #851
The lua transform is modify `event` inplace, if I want to remove other fields I have to use `remove_fields`, not very convenient but it's ok to use. looking forward to your new transform,and wish this project get better.

[2019-09-16 03:46] fujianan opened #866 "How can I build the executable file"
I cloned the  latest code and   put them locally
How can i build the  executable file?
Thanks
![image](https://user-images.githubusercontent.com/22000011/64933368-8f654f80-d877-11e9-8072-82be32067cce.png)

[2019-09-16 04:19] xcaptain commented on #750
Would be awesome if this new transform support string split, like the example below

from

[code]

to

[code]

nginx produces this kind of log http://nginx.org/en/docs/http/ngx_http_core_module.html#var_args

[2019-09-16 06:12] xcaptain opened #867 "Add another chrono format to convert timestamp to string"
The current https://docs.vector.dev/usage/configuration/transforms/coercer support to convert string to timestamp,  would be better if we can add a second option to convert string to timestamp like:

[code]

this situation is common like nginx produces [iso 8601 timestamp](http://nginx.org/en/docs/http/ngx_http_log_module.html#var_time_iso8601) but the storage(like clickhouse) would prefer a local

[2019-09-16 06:14] xcaptain commented on #867
This should be easy to implement, if you want I can make a pull request

[2019-09-16 06:48] #866 closed

[2019-09-16 09:39] fujianan opened #869 "I compile executable files locally,start error"
![image](https://user-images.githubusercontent.com/22000011/64948086-e1729900-d8a8-11e9-8771-7514d293666f.png)

![image](https://user-images.githubusercontent.com/22000011/64947893-82ad1f80-d8a8-11e9-87e7-c38b128fb1c9.png)
this is my vector.toml configuration:
[code]

[2019-09-16 14:02] binarylogic commented on #869
Hi @fujianan you need to add an `inputs` field for your `[sinks.print]` sink. Ex:

[code]

That should resolve your issue. Let us know if you encounter anything else.

[2019-09-16 14:02] #869 closed

[2019-09-16 14:05] binarylogic commented on #867
Interesting, thanks for reporting. That makes sense and we would welcome a pull request for this.

[2019-09-16 14:38] a-rodin opened #870 "New `jmx_metrics` source"
Users of Java and other JVM-based languages might appreciate ability to collect [JMX metrics](https://www.oracle.com/technetwork/java/javase/tech/javamanagement-140525.html) from their apps. For example, JMX is the [default metrics reporter for Kafka](https://docs.confluent.io/current/kafka/monitoring.html).

[2019-09-16 14:48] lukesteensen commented on #870
This is a great idea. We always ran [jmxtrans](https://github.com/jmxtrans/jmxtrans) with Kafka to bridge the gap with our normal monitoring tools. Would be great to cover that use case as well.

[2019-09-16 15:08] #799 closed

[2019-09-16 15:42] a-rodin commented on #862
One quick and simple solution is to just have a single `.deb` and a single `.rpm` file without dependencies for all Debian/RPM-based distributions correspondingly that would contain statically linked Vector and then allow the users to download and install it without package manager, similarly to how [Slack](https://slack.com/intl/en-us/downloads/linux) and [Skype](https://www.skype.com/en/get-skyp

[2019-09-16 15:51] LucioFranco commented on #697
Closed via #778

[2019-09-16 15:51] #697 closed

[2019-09-16 18:58] binarylogic opened #873 "Support AWS Lambda (router scenario)"
This integration is worth exploring. It's interesting to think about Vector installed within AWS Lambda to receive and route events. AWS already provides a number of one-click integrations with Lambda.

Some things to think about:

1. https://aws.amazon.com/serverless/serverlessrepo/
2. https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html
3. https://docs.aws.amazon.com/lambda/lat

[2019-09-16 19:00] binarylogic opened #874 "Collect observability data on AWS Lambda"
An idea I've been thinking about us deploying Vector as an [AWS Lambda Layer](https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html), which would collect logs, metrics, etc, and ship them right from the Lambda function. This would server users that do not want to use AWS CloudWatch to collect this data.

[2019-09-16 19:38] a-rodin commented on #874
When Vector is used with certain sinks like S3, it takes long time to shut it down (around 40 seconds). Might it be a problem with short-living invocations?

[2019-09-16 20:49] loony-bean commented on #874
I'm not sure if the official runtime does the same, but in [this (already archived) project](https://github.com/srijs/rust-aws-lambda) the process is described as long living

[2019-09-16 21:14] binarylogic commented on #874
That's odd. A broader question is why does Vector take that long to shut down? I assume when a `SIGTERM` is received we'd flush immediately and start the shutdown process. I expect for that to take _some_ time, but not 40 seconds...

Is that worth opening another issue to investigate?

[2019-09-16 22:11] lukesteensen commented on #874
Yeah, we should at least try to flush immediately when we get a shutdown signal. Unless S3 itself is being super slow, there's no reason it should be taking that long to finish.

[2019-09-17 03:34] fujianan commented on #869
ok
Thanks

[2019-09-17 03:35] #852 closed

[2019-09-17 08:30] mre commented on #848
So @jorgelbg and me were talking about that yesterday and it doesn't seem to be that easy.
The main issue is the definition of `FileWatcher`:

https://github.com/timberio/vector/blob/503bbc0494eca9b2d62267b4a29adc3c2ce27ff4/lib/file-source/src/file_watcher.rs#L15-L23

It has a `reader: io::BufReader<fs::File>` field. In order to also support `flate2`'s `GzDecoder` (or preferably `MultiGzDecoder`),

[2019-09-17 08:33] fujianan opened #876 "Tranform kafka source to elasticsearch, it doesn't work"
this is my vector.toml configuration:
[code]
What additional operations do I need to do or How do I need to modify the configuration file vector.toml

[2019-09-17 09:22] xcaptain opened #877 "vector failed to execute when target musl"
I'm using to `cargo build --release --target=x86_64-unknown-linux-musl` to build the project but the result won't execute, but the default target works

![图片](https://user-images.githubusercontent.com/4054836/65029038-9f605a80-d96f-11e9-987c-3c5f8d25a594.png)

[2019-09-17 11:22] fujianan opened #878 "Regex parsing error. Transforming file to elasticsearch"
I read this page
(https://docs.vector.dev/usage/configuration/transforms/regex_parser#config-file)

![image](https://user-images.githubusercontent.com/22000011/65037383-27e6f700-d980-11e9-9795-175119a519bf.png)

/var/log/apache2/access.log
![image](https://user-images.githubusercontent.com/22000011/65037236-cb83d780-d97f-11e9-846d-1d7c2936da67.png)
my configuration:
[code]
What went wrong? How can

[2019-09-17 13:59] mamcx opened #879 "Is vector usable in windows?"
I know vector docs not talk for windows, but wonder if is possible?

I try cross-compiling master branch(I already compile for windows in my machine my own utilities):

cargo build --target=x86_64-pc-windows-gnu --release

[code]

[2019-09-17 14:45] mre commented on #878
Hey @fujianan,

the regular expression can not parse your Apache logs.

Namely, this regular expression
[code]

does not match:

[code]

It looks like you are using a different Apache log format.
You can switch back to the original log format of Apache in your Apache config (`apache.conf`). Search for `LogFormat` in there and remove any custom settings.
Alternatively you can adjust the regular exp

[2019-09-17 14:49] binarylogic opened #880 "Support Windows as a release target"
This is a follow up to https://github.com/timberio/vector/issues/879. We've received this request a few times and I'd like to start by reviewing exactly how difficult this would be and then determining if we'd like to proceed or not.

[2019-09-17 14:49] mre commented on #877
Hum... that doesn't look like a problem with vector, though.
It seems to build just fine so I wonder where it was copying the binary into.
You can try a `cargo clean` which will remove the `target` folder and then another build.
Then you can inspect your `target` folder and see which subfolders it created.

You can verify that you have the correct toolchains with

[code]

[2019-09-17 14:50] binarylogic commented on #879
Hi @mamcx , thanks for asking. Currently, it is not, but we are about to start work in [milestone 18](https://github.com/timberio/vector/milestone/18), which aims to support more targets. I've created #880 to represent this work. I'll close this in favor of that issue.

[2019-09-17 14:50] #879 closed

[2019-09-17 14:52] binarylogic commented on #877
Hi @xcaptain , is there any reason our pre-built binary won't work for you?

https://packages.timber.io/vector/nightly/vector-nightly-x86_64-unknown-linux-musl.tar.gz

That should be the latest `musl` build ^

[2019-09-17 14:53] binarylogic commented on #876
Hi, can you provide the error you are seeing? I'm assuming it's the same error as #878?

[2019-09-17 15:18] stephenson opened #881 "Dear Timber"
Sorry, but this has nothing to do with Vector, but I have for a month tried to get in contact with timber, so now I try to post here.

It seems like you don't care about your Rails customers. Rails 6 is out and your gem don't support it. There are no responses on open issues on your [timber-ruby-rails repo](https://github.com/timberio/timber-ruby-rails/issues/2).

I have emailed you, I have [tweet

[2019-09-17 15:24] LucioFranco commented on #327
@bruceg I think then we should open an issue for that transform then close this one.

[2019-09-17 15:31] LucioFranco commented on #879
@mamcx two things, here you probably want to compile for MSVC toolchain instead of the gnu version. Second, you also probably want to compile the entire thing as `cargo build --no-default-features` which will disable a lot of the C/C++ dependencies. The only required dependency I think beyond that is `openssl`. Otherwise, this _should_ work though there are no guarantees since we don't have anyone

[2019-09-17 15:38] LucioFranco commented on #874
I think sink flushing is generally pretty quick, we'd have to see a flamegraph or something to determine what really is the issue. I have seen some of our "blocking" based sources have trouble shutting down.

[2019-09-17 15:46] bruceg commented on #838
I have written the code to support this, but cannot currently test it. This will likely require [rdkafka-sys](https://github.com/fede1024/rust-rdkafka) upgrading to [librdkafka 1.1.0](https://github.com/edenhill/librdkafka/releases/tag/v1.1.0) since it contains two new settings that appear to be required to complete testing. I have [opened an issue](https://github.com/fede1024/rust-rdkafka/issues/

[2019-09-17 16:00] bruceg opened #882 "New include/exclude transform"
Vector needs a transform that can selectively drop events based on flexible criteria. In particular, it needs a generic method of either dropping selected or non-selected events with a set of fields matching a set of patterns.

There already exists a `field_filter` that drops logs unless a field matches a particular value. However, it only works with log events, does not support patterns, allows o

[2019-09-17 16:00] bruceg commented on #327
Closing this via #882

[2019-09-17 16:00] #327 closed

[2019-09-17 16:03] binarylogic commented on #882
Thanks. We are starting to think about a project that would focus on improving the transform experience as well as general data model management. We'll add this to the project.

[2019-09-17 16:45] bruceg commented on #543
AFAICT there is one last module that uses `String` error types, and that is the configuration parsing framework.

[2019-09-17 17:00] xcaptain commented on #877
@mre Can you build with `cargo build --release --target=x86_64-unknown-linux-musl` and run the binary using rustc 1.37 stable? I will check again to see if it's related to my build environment

[2019-09-17 18:16] LucioFranco commented on #838
This is a pretty important feature for vector, maybe its worth it to fork `rdkafka` here and upstream those changes when the authors have time?

[2019-09-17 19:29] e11it commented on #838
Hi!
I have tested kafka source with SSL. Here is my changes: https://github.com/e11it/vector/commit/775c1688757f65037cc1054b5f5c6ab809d1be5e .

It works.
But I had some issues with build: https://github.com/fede1024/rust-rdkafka/issues/125
`RUSTFLAGS='-C link-args=-lzstd'` -- solves issue

To compile on I used this Dockerfile :
[code]

And I was not able to build directly on Mac OS because of erro

[2019-09-17 19:42] e11it opened #887 "Allow to set custom CA for elasticsearch sink"
Currently there is only one way to connect to elastic behind ssl is to add CA to the system trust store.

Could you please add  option to setup custom CA. And option to allow not verified ssl connection.
Same Logstash options: cacert, ssl_certificate_verification.
(https://www.elastic.co/guide/en/logstash/current/plugins-outputs-elasticsearch.html#plugins-outputs-elasticsearch-options)

[2019-09-17 19:50] binarylogic commented on #856
Thanks @gumieri, we appreciate the detailed information. I think it's worth having the team weigh in and produce a spec for resolving this. Ideally, you would not have to worry about this since the default CloudWatch metrics limit seem to be liberal:

We'll also think about a way you can control and specify loss of precision.

[2019-09-17 19:52] mre commented on #847
@lukesteensen [here](https://github.com/mre/maxminddb-rust-bench) is a quick benchmark using criterion. It should be fast enough. The gist is that it can look up 30.000 IPs per second on my machine (MacBook Pro 2015, i7, 16GB RAM). If that's not enough we can use rayon for an almost linear performance improvement. Then it's doing 100.000 lookups/s over here.

I agree with both of you that we shoul

[2019-09-17 20:02] binarylogic commented on #887
Thanks @e11it . @bruceg I've assigned this to you since it's related to your other work. Let me know if you need more information or would not prefer to do this.

[2019-09-17 20:09] binarylogic commented on #855
I'm assigning this to myself since it is related to the release process I'm working on.

[2019-09-17 21:26] lukesteensen commented on #843
@LucioFranco

I don't think we should expect to be able to gate all PRs on "passing" this environment. Ideally, issues found in this environment would be translated to the normal test suite to protect against regressions (similar to fuzzing or property-based tests). We can definitely have the ability to run these envs with arbitrary versions of vector (e.g. one built from a PR), but that'd probabl

[2019-09-17 21:47] lukesteensen commented on #856
One thing we could do that might not be that invasive is to "dedup" each batch of events that arrive in the sink before sending them. It wouldn't work for every data type right now, but counters and gauges are two that allow for relatively straightforward merging.

That could either happen in the sink itself, before encoding, or we could build a smarter batch type that we know how to either insert

[2019-09-17 21:50] lukesteensen commented on #847
@mre Nice! That seems plenty fast for me. Do you know if it's reading the whole database into memory? I know some implementations memory map the file. I'm not terribly concerned about memory usage as long as it only affects users who have configured this specific transform, but it's still good to know.

[2019-09-17 23:28] amitsaha commented on #847
hey folks, Are one of you working on this feature? I am keen to work on it, if none is.

[2019-09-18 00:36] binarylogic commented on #847
@amitsaha we don't have anyone on the team currently working on this, but I can't speak for @MarkusH or @mre. We'd very much welcome a pull request.

[2019-09-18 03:03] fujianan commented on #878
ok, i got it
but i I have a new problem.
They are my apache logs:
[code]
transform to Elasticsearch 405 method not allowed
Is the elasticsearch  index created automatically  or I need to create index ahead of time

![image](https://user-images.githubusercontent.com/22000011/65104232-5c4fc700-da03-11e9-9720-660e8331605e.png)

[2019-09-18 03:39] #878 closed

[2019-09-18 07:19] loony-bean commented on #874
FWIW I've observed this behaviour only when some services are not healthy

[code]

[2019-09-18 08:44] mre commented on #847
@amitsaha from my side go ahead. 😃

[2019-09-18 09:39] mre commented on #847
@lukesteensen since version 0.11, maxminddb-rust offers an optional `mmap` feature flag for memory mapping. See the changelog [here](https://github.com/oschwald/maxminddb-rust/blob/master/CHANGELOG.md#0110---2018-11-12).

[2019-09-18 11:24] MarkusH commented on #847
@amitsaha please ahead. I'm not working on it.

[2019-09-18 13:09] lukesteensen commented on #848
As far as I can tell, the `reader` field is only ever used in `read_until_with_max_size` (as `&mut BufRead`), and to `seek` in `new` and `update_path`.

It doesn't seem that any of the gzip decoders are `Seek`, but luckily we only ever seek _before_ assigning a newly created reader to the struct field. So we could pretty easily do the seeking before putting the reader in a `Box` and assigning it t

[2019-09-18 13:43] binarylogic commented on #878
Hi @fujianan, what turned out to be the issue? In regards to index creation, that is configurable on the Elasticsearch side.

[2019-09-18 13:48] binarylogic opened #889 "Shutdown is delayed when a sink is unhealthy"
Creating a separate issue for the discussions at https://github.com/timberio/vector/issues/874#issuecomment-532554770. The behavior described by @loony-bean dooes not appear to be ideal:

[code]

Why is Vector waiting on CloudWatch at all? It appears the sink never started in the first place.

[2019-09-18 15:06] LucioFranco commented on #889
@loony-bean do you have your config for this?

[2019-09-18 15:55] mre commented on #848
I gave it a shot. Please have a look over on the pull request. 😊

[2019-09-18 16:01] loony-bean commented on #889
This is interesting.

So, basically I unset my AWS variables and run
[code]

And IFF I `^C` the program after the first error of the following kind, the program starts the count down

[code]

Indeed it stops a bit earlier.

Also there is no count down if I `^C` early on start up, or after few minutes of uptime.

[2019-09-18 16:04] LucioFranco commented on #889
@loony-bean Ok, I can test this a bit later, I think I may know why but if possible could you create a gist of the log output when you run it with full trace?

`cargo run -- --config config/examples/complete/file_to_cloudwatch_metrics.tom -vvv`

[2019-09-18 16:31] loony-bean commented on #889
@LucioFranco Sure!
https://gist.github.com/loony-bean/8a646a0aff88fb9d7d48bc4fe4556bc1

[2019-09-18 16:50] lukesteensen opened #892 "Backpressure detection"
Related to #841

One of the most difficult symptoms to debug is when a pipeline is running slower than it should be. It often comes down to a single component providing backpressure that flows throughout the processing graph. It can even cause confusing semi-related symptoms to pop up in other components (e.g. #763).

To help diagnose these kinds of issues, it would be very helpful if Vector had s

[2019-09-18 18:44] LucioFranco commented on #889
Ok, so I think this is happening with all the rusoto sinks. It looks like the global http client that is provided with the library attempts to fetch the credentials via this provider https://docs.rs/rusoto_credential/0.17.0/rusoto_credential/struct.ChainProvider.html which attempts to fetch 4 different types of credentials. Since it can not find the credentials it has to go through all 4 providers

[2019-09-18 19:36] binarylogic commented on #889
I'm confused. Why are we seeing these lines:

When the sink failed to pass the healthcheck?

[2019-09-18 19:44] LucioFranco commented on #889
@binarylogic I believe the require healthchecks option is not on and therefore we don't wait for the healthchecks to complete. Now that I think about it we probably want the opposite behavior?

[2019-09-18 21:19] lukesteensen commented on #543
Do you mean just [here](https://github.com/timberio/vector/blob/ec73082da655d5e17c7023fef3b5c1893a4d7bf4/src/main.rs#L71)? That one is so small and isolated I don't think it's worth the effort to do anything fancier.

[2019-09-18 23:39] amitsaha commented on #847
Thanks folks. I will give it a shot.

[2019-09-19 02:28] bruceg commented on #543
No, I mean the whole stack starting (roughly) [here](https://github.com/timberio/vector/blob/ec73082da655d5e17c7023fef3b5c1893a4d7bf4/src/topology/config/mod.rs#L198). There are a lot of routines that return `Result<..., Vec<String>>` that I didn't catch before.

[2019-09-19 03:00] bruceg commented on #838
Interesting. I have been unable to get that version of rdkafka to even compile on my system without setting `$LIBCLANG_PATH` because of a path error with clang (I do have clang & llvm installed):
[code]

[2019-09-19 06:06] #877 closed

[2019-09-19 07:25] thinhnd8752 opened #895 "Can not use add_fields transform"
Hi all,
**add_fields** transform not work with my configuration
------------------------------------------

[code]
------------------------------------------

But the error come:

ERROR vector::topology: Configuration error: unknown variant `add_fields`, expected one of `augmenter`, `field_filter`, `grok_parser`, `json_parser`, `log_to_metric`, `lua`, `regex_parser`, `remove_fields`, `sampler`, `t

[2019-09-19 08:06] loony-bean commented on #895
Hi @thinhnd8752! Try using it by 'augmenter' name.

@LucioFranco Seems like we need to update the name [here](https://github.com/timberio/vector/blob/master/src/transforms/add_fields.rs#L22)? I can see in the commit history that there was intention to rename the transform, but the tag was not updated.

[2019-09-19 10:46] fujianan commented on #878
Hi @binarylogic
I delete configuration as follow
[code]
elasticsearch can show index data
thanks

[2019-09-19 10:54] fujianan opened #896 "same topic,Why does kibana show data lose?"
first, I have already used vector replace logstash that transform kafka data  to elasticsearch
this is use vector tranfrom kafka data to elasticsearch
index: vector-tri-*
![image](https://user-images.githubusercontent.com/22000011/65237810-f56b0480-db0d-11e9-84dd-9e4e1bfe8e5b.png)

this is use logstash transform kafka data to elasticsearch
index: kubernetes-tri-*
![image](https://user-images.githu

[2019-09-19 11:42] ktff opened #897 "`drop_field` by default is false"
In `regex_parser` transform optional field `drop_field` has by documentation default value of `true`, but in the implementation it's `false`.

[2019-09-19 12:00] ktff commented on #812
This a good enhancement of little work and noticeable benefit.

This case also happens in Kubernetes where the location of configuration occurs in two places. With this only one occurrence will remain, and as a bonus no arguments will need to be passed.

[2019-09-19 15:29] lukesteensen commented on #543
I see, those evaded my grep as well. I wouldn't say they're high priority, and they might be a little different since we're collecting multiple errors. I'd say we can take a quick stab at them, but be ready to punt if it becomes much of a burden. There's some value to be had there, but not a ton.

[2019-09-19 21:37] a-rodin commented on #880
I’m not sure how satisfactory it would be, but it looks like MUSL binary for Linux [should just work on WSL](https://docs.microsoft.com/en-us/windows/wsl/interop#run-linux-tools-from-a-windows-command-line). I don’t have a Windows machine at hand now to test it though. If it works and if supporting only Windows systems with WSL is fine, we can additionally make a [Chocolatier](https://chocolatey.o

[2019-09-20 09:15] mre commented on #896
Hey @fujianan,
are you sure that date that you're reading is valid JSON?
A common pitfall is having a non-JSON prefix (like a timestamp).
Can you also post your working logstash config here for reference?

[2019-09-20 09:20] mre commented on #876
Related to #896.

[2019-09-20 09:25] mre commented on #833
The error message mentions character code 31, which is the "unit separator". [Here](https://unix.stackexchange.com/a/128021) is an explanation. @iam4x, if `compression = "none"` doesn't help, it could also be related to invalid input data that contains control characters.

[2019-09-20 09:27] mre commented on #877
@xcaptain, sorry that I didn't report back.
Maybe this could help you: https://github.com/timberio/vector/issues/826.

[2019-09-21 12:58] ktff commented on #814
Current Kubernetes implementation in #893 was tested with AWS EKS ec2 cluster, and it works out of the box. Except of one bug found during testing.

So as @binarylogic said, this will be solved with #260. I anticipate that only retesting it on EKS will be needed.

[2019-09-23 08:01] ssfilatov opened #905 "Clickhouse sink with field arrays scheme"
There is a use case with clickhouse as a timeseries DB when metrics/events are stored in the following format:
`timestamp, ["key1", "key2"], ["value1", "value2"]`
original event:
`{"timestamp": <>, "event": {"key1": "value1", "key2": "value2"}`
These allows us to send events with arbitrary fields. Do you think vector can support this sink?

[2019-09-23 08:09] iam4x commented on #833
Alright thank you, `compression = "none"` and removing the unix colors from the logs worked  👍

[2019-09-23 08:09] #833 closed

[2019-09-23 09:45] mre commented on #861
One thing I was confused about when looking at the `Dockerfile` of docker-slim is that we copy the binary to `/usr/bin` (see [here](https://github.com/timberio/vector/blob/master/distribution/docker/debian-slim/Dockerfile#L20)). We use `/usr/local/bin` [for alpine](https://github.com/timberio/vector/blob/master/distribution/docker/alpine/Dockerfile#L22), though.
According to [this post](https://un

[2019-09-23 13:49] LucioFranco commented on #895
@loony-bean yup looks like an oversight!

[2019-09-23 13:50] #895 closed

[2019-09-23 13:51] LucioFranco commented on #543
We can also change the signature to `Result<..., Vec<crate::Error>>`.

[2019-09-23 14:50] binarylogic opened #906 "Release 0.4.0"

[2019-09-23 16:14] binarylogic opened #907 "Document AWS Elasticsearch unsupported settings"
Following up on https://github.com/timberio/vector/issues/833#issuecomment-533999279, we need to document that:

1. `compression` is not supported for AWS' ElasticSearch service.
2. ANSI colors are not supported in logs.

[2019-09-23 16:16] binarylogic opened #908 "New `ansi_stripper` transform"
Following up on https://github.com/timberio/vector/issues/833#issuecomment-533999279, it would be nice to provide a transform, or a sink setting, that allows users to strip non-printable characters/ANSI formatting codes.

[2019-09-23 16:39] #812 closed

[2019-09-23 17:22] LucioFranco commented on #905
@ssfilatov this seems like it would be a good spot for both a transform that can translate that nested json structure into a flat string. That then clickhouse could read and submit.

[2019-09-23 17:27] LucioFranco opened #909 "Improve test compile times"
Currently, we have 6 integration tests that live within `tests`. Not all of these tests really need to live in this folder, they can be moved to live within the main code base. The issue is that each of these files requires vector to be recompiled for each one. This makes the `cargo test` time very substantial. To fix this, I suggest, that we move most of the tests into the main repo. Every test f

[2019-09-23 20:53] #795 closed

[2019-09-23 21:23] binarylogic opened #915 "MUSL builds missing OpenSSL"
It seems that after commit https://github.com/timberio/vector/commit/8b2a11ee9ba0c3204deefa3d0435120873808089 we're getting [this error](https://circleci.com/gh/timberio/vector/12250) now.

[2019-09-23 21:50] lukesteensen opened #916 "Clarify `batch_size` terminology"
We use `batch_size` as a common configuration value, but it means different things in different contexts. For some sinks, it means a number of events and for others, it means a total byte size of the request body.

We should audit our sink configs and make sure that this terminology isn't confusing. Depending on the sink, it may be better to rename some of these uses to something along the lines o

[2019-09-24 02:03] LucioFranco commented on #915
Looks like there are now rdkafka and leveldb compiling issues with missing headers.

cc @a-rodin

[2019-09-24 10:00] a-rodin commented on #915
I forgot to update `.circleci/config.yml` to enable `openssl/vendored` feature.

A related question: should SSL be enabled in `rdkafka` or other native dependencies? As far as I can see from docs, there are no SSL-related options there yet, so there is no need to have system-wide SSL inside `musl` builder.

[2019-09-24 13:20] loony-bean opened #920 "Metrics batch"
Vector has a detailed Metric type that allows it to recognise and ingest metrics from different sources. However when it comes to sending metrics into external services via sinks, we face a situation when external service supports only a subset of metric types, and we need to make some sort of stateful transformation of metrics before Vector can forward it.  This mostly relates to Set and relative

[2019-09-24 13:32] LucioFranco commented on #915
@a-rodin we are introducing tls with kafka here https://github.com/timberio/vector/pull/912/files#diff-80398c5faae3c069e4e6aa2ed11b28c0R113 we should probably ensure we are using the vendored version?

[2019-09-24 13:58] a-rodin commented on #915
@LucioFranco It would be linked statically. Also the SSL library itself would be compiled against MUSL.

[2019-09-24 18:37] binarylogic opened #922 "Git is missing on the musl image"
When trying to build a tag I'm getting this output:

[code]

Notice the warning at the top. It looks like we need to install `git`.

[2019-09-24 18:58] #922 closed

[2019-09-24 20:57] lukesteensen commented on #920
Why is this? I would expect sets to be merged with a simple union, for example. For metric types that can't be merged, I think it's fine to batch them normally for now.

I'm very skeptical of adding in another concept here. Batching is intended to accomplish the same things you say here for `split`, and I worry that a second layer of invisible batching will be very confusing both for implementors

[2019-09-24 21:05] binarylogic commented on #920
Thanks for the excellent writeup @loony-bean.

If I understand this correctly, the `aws_cloudwatch_metrics` sink would "just work™" regardless of metric volume? This would have prevented the issue described in #856. I don't completely understand the internals of `Batch` and `split`, but I think it's cumbersome to require users to guess at an aggregation window that will prevent rate limited respon

[2019-09-24 21:12] #806 closed

[2019-09-24 21:14] LucioFranco opened #924 "Add musl compatible OpenSSL lib in the musl builder"
Ref https://github.com/timberio/vector/issues/915#issuecomment-534565450

We need to avoid using the vendored version of `openssl-sys` so that we can support `tls` with `rdkafka`. Here is a build error https://circleci.com/gh/timberio/vector/12675?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link that shows that `rdkafka` can not find the vendored `openssl` headers

[2019-09-24 21:25] absolute-fustercluck opened #925 "kafka_sink reading bootstrap servers config as string, expected a sequence"
I am trying to create a kafka sink with a standalone confluent server and Vector is complaining about my config, which I basically copy and pasted from here.

[code]
Here is my config

[code]

I am running this on 4.20.8-1.el7

[2019-09-24 21:33] lukesteensen commented on #925
This means that we're expecting an array for `bootstrap_servers` instead of a string, so changing it to `["10.10.x.x:9093"]` should fix your issue.

It does seem like this is documented incorrectly in a few places, so sorry about that! I'll push a fix.

[2019-09-24 23:40] mchesser commented on #880
I had a go at compiling on Windows using MSVC, and it mostly works though I had to disable several features (namely file sources/sinks, signal handling, and leveldb persistence).

The metrics library (hotmic) is also problematic (causes an infinite loop on windows) because it uses an outdated version of crossbeam-channel that suffers from an issue in the atomic cell implementation (see: crossbeam-

[2019-09-25 00:35] tlvenn commented on #557
Prior art for Fluentd in Ruby: https://github.com/banzaicloud/fluent-plugin-kubernetes-loki

[2019-09-25 03:16] romvarac commented on #855
Hi @loony-bean, I try to deploy the new version release (0.4.0)
1. vector.toml
[code]
2. docker-compose.yml
[code]
Error
[code]
3. Using 0.4.0-debian
- docker-compose.yml in the above
[code]
- comment out command in docker-compose.ym
[code]
Check log don't show any thing. So, how I can run new version release (0.4.0). Thanks

[2019-09-25 06:52] romvarac opened #928 "Not run new docker image release (0.4.0)"
Hi @loony-bean, I try to deploy the new version release (0.4.0)
1. vector.toml
[code]
2. docker-compose.yml
[code]
Error
[code]
3. Using 0.4.0-debian
- docker-compose.yml in the above
[code]
- comment out command in docker-compose.ym
[code]
Check log don't show any thing. So, how I can run new version release (0.4.0). Thanks

[2019-09-25 06:57] #677 closed

[2019-09-25 07:43] loony-bean opened #929 "Update tracing dependencies"
We might need to update `tracing` deps in accordance with the recent [changes](https://github.com/tokio-rs/tracing/pull/323).

I've run into this while trying to run `cargo outdated`:
[code]

[2019-09-25 09:07] loony-bean commented on #843
This is good! Maybe we can add test coverage reporting into the plan?

[2019-09-25 13:54] loony-bean commented on #920
My thinking is that metrics batch type will have `type Output = Vec<Event>` (please check the ref PR). We have only streaming events (observations) in our current type system, where `Set` is just a `String` with attributes. That way if we'd need to return something on finish from the batch, then aggregating multiple `Set`s into single `Gauge` will make the most sense.

The good thing is that if th

[2019-09-25 13:55] loony-bean commented on #920
I agree with that.

[2019-09-25 14:19] LucioFranco commented on #843
@loony-bean I'm not too sure we would get much out of coverage reporting, I've seen it be very flaky in rust projects and hard to tune to make it a productive addition imo.

[2019-09-25 14:25] ktff commented on #813
# Specification

AWS ECS support, that we can do on our side, must be split into two use cases:
* EC2
* Fargate

## EC2

EC2 use case can be supported using current `docker source`, and a Vector running as a daemon service with mounted access to Docker `unix socket`.

This can be an installation page containing:
* basics
* a template AWS service definition
* an example` vector.toml`
* suggestions

[2019-09-25 14:54] #925 closed

[2019-09-25 15:24] absolute-fustercluck commented on #925
Thanks for the prompt help here

[2019-09-25 16:05] LucioFranco opened #931 "Subcommand to list all available sources, transforms and sinks"
It would be very nice to provide a cli subcommand that can list all the available sources, transforms and sinks. This would allow users to check what types of config options are available for that compiled version of the binary.

Example:

[code]

We currently use `typetag` to add a static tag name to each of our structs. We could use a macro combined with this to generate a static string at compi

[2019-09-25 16:23] LucioFranco commented on #546
Update: stdin source blocks graceful and immediate shutdown due to its use of blocking.

[code]

[2019-09-25 16:59] LucioFranco opened #932 "Update `stdin` source to use a thread instead of using the tokio version"
Related to #546 and a bug in tokio where blocking annotations can not be shutdown via a drop in the task. This causes `stdin` sources to hang when a user attempts to shut it down.

# Specification

Update the `stdin` source to use a similar strategy to what the `file` source uses by spawning a thread and using [`stdin`](https://doc.rust-lang.org/beta/std/io/fn.stdin.html) directly. Then using the

[2019-09-25 19:10] binarylogic opened #933 "Add checksum files to artifacts list when releasing"
I'd like to add `sha256` checksum files to each release artifact and expose those in our download pages.

[2019-09-25 21:08] #924 closed

[2019-09-25 21:08] lukesteensen commented on #920
I keep forgetting this, sorry :smile:

I think what I'd propose then is to start off by ignoring histograms and sets (both names make me think they're mergeable but they currently are not). This will let us get the overall structure in place without worrying too much about complicated aggregations. Then, as a follow-up, we can look into expanding those two metrics types to hold multiple values (ma

[2019-09-25 22:01] #838 closed

[2019-09-25 23:46] bruceg commented on #887
Can I test this without an instance with an X-Pack license? Everything I am reading online says that HTTPS support is only present in X-Pack.

[2019-09-26 00:33] spencergilbert commented on #887
@bruceg I'm happy to set up a test cluster with vector

[2019-09-26 00:57] mamcx opened #935 "New `exec` sink"
I like to use vector to process logs to http://timescale.com. But because it not have that as sink, I was looking into implementing a http collector for that.

However, considering that vector can be used to aggregate multiple vector agents, how about a "universal" sink? So I could do:

[code]

This way, it could cover much more cases where the sink is not available and build a small cli utility i

[2019-09-26 03:41] binarylogic commented on #887
Thanks @spencergilbert. @bruceg we used [search guard](https://search-guard.com/) in the past to secure an Elasticsearch cluster, but if this is just for manual testing, we are happy to pay for a cluster hosted on [elastic.co](https://www.elastic.co/pricing). If this is for testing/CI, we can help set up search guard. Let me know how we can help..

[2019-09-26 10:33] mre commented on #847
That sounds very reasonable to me. I would probably do exactly the same.
As for the input field, maybe we could name it `source` to stay consistent with how Logstash calls it. Would make transitioning a little easier.
The database option is called `database` over there.
The target option is called `target` and the default value is `geoip`.

[Here](https://www.elastic.co/guide/en/logstash/current/p

[2019-09-26 11:28] spencergilbert commented on #887
Also since es6.6 (i think) xpack is provided, in a limited way, on the free basic license. As long as you're running a recent version of es you should be able to configure ssl

[2019-09-26 13:42] ktff opened #938 "Reload config on file change"
### Context
In cloud environments it's beneficial to avoid permanent storage, and in some cases such storage is not even available. This is in conflict with the need to preserve checkpoints between vector runs which are used to avoid missing a log and logging it multiple times. This issue can be mitigated somewhat by being able to update vector topology without restarting vector.

### Behavior
Mai

[2019-09-26 15:09] LucioFranco commented on #929
This should be folded into https://github.com/timberio/vector/issues/628 as it will require a new version of tracing.

[2019-09-26 16:24] binarylogic opened #939 "New `timescale` / `postgres` sink"
I'd like to support [Timescale](https://www.timescale.com/) as a sink, and after talking to them it appears we just need to support Postgres since Timescale is built on Postgres. I'm hesitant to call it a Postgres sink given that we'll probably want to make certain assumptions about how we're writing data. Before we begin work we should determine if this is the appropriate course of action.

[2019-09-26 16:56] xcaptain commented on #867
Using lua script solved this problem

function convertIso8601(s)
  local p='(%d+)-(%d+)-(%d+)T(%d+):(%d+):(%d+)'
  local year,month,day,hour,min,sec,tz=s:match(p)
  return os.date("%Y-%m-%d %T",os.time({day=day,month=month,year=year,hour=hour,min=min,sec=sec}))
end

event['localtime'] = convertIso8601(event['localtime'])

[2019-09-26 16:56] #867 closed

[2019-09-26 19:12] LucioFranco opened #941 "Update docker hub docs for our docker images"
As of #940 we have redone some of our docker images. We must ensure that the docs on your documentation align with those on doc hub.

[2019-09-26 19:35] e11it commented on #887
It's also possible to use opendistro distr for testing (https://opendistro.github.io/)

Https enabled by default in the Opendistro docker image. Here is default cert : https://github.com/opendistro-for-elasticsearch/security/blob/master/tools/install_demo_configuration.sh .

[2019-09-26 19:41] binarylogic commented on #938
This makes sense to me. I wouldn't mind having @lukesteensen approving before we begin work on this. @lukesteensen can you review and remove the `needs: review` label if this sounds good?

[2019-09-26 21:22] binarylogic commented on #906
This has been released: https://github.com/timberio/vector/releases/tag/v0.4.0

[2019-09-26 21:22] #906 closed

[2019-09-26 21:23] binarylogic commented on #776
This has been resolved. A list of packages can be found at:

https://packages.timber.io/vector

The directory now matches the file name. I went ahead and removed the version from the file name. If we find this causes problems we can add it back, but this was a simple first step to correct this.

[2019-09-26 21:23] #776 closed

[2019-09-26 21:23] binarylogic commented on #729
This is resolved: https://packages.timber.io/vector

[2019-09-26 21:23] #729 closed

[2019-09-27 03:02] #928 closed

[2019-09-27 14:14] fcantournet commented on #573
This would be very interesting as a sink for envoy access logs too, to replace the file based approach (which entails dealing with log-rotation and mounting a hostpath in the container etc...)

[2019-09-27 18:18] LucioFranco opened #946 "Expose musl/libc++/clang toolchain externally"
@a-rodin has built a pretty fantastic toolchain image that can compile rust binaries that include c++/c dependencies with cross-lang lto. This is something that is non-trivial and could benefit the wider rust community.

I suggest that we create a separate repo to keep track of this toolchain image and then have vectors specific builder add the dependencies like OpenSSL. This would also benefit us

[2019-09-27 18:41] a-rodin commented on #946
Thanks @LucioFranco. I like this idea.

The cross-lang LTO was actually disabled later because `typetag`'s dependency `rust-ctor` [didn't support LLD](https://github.com/mmastrac/rust-ctor/issues/17). The problem seems to be solved recently in [this PR](https://github.com/mmastrac/rust-ctor/pull/19), where, notably, there is a call from the author for creating a test case using alternative linkers

[2019-09-27 20:02] binarylogic commented on #946
This is a naive question, but would that actually benefit other Rust developers, or is it highly specific to Vector?

[2019-09-27 20:03] binarylogic commented on #946
Please ignore my comment, I just read the conversation on the PR 😄

[2019-09-28 16:09] AlyHKafoury commented on #932
@LucioFranco I am willing to contribute to this issue if possible

[2019-09-28 21:08] a-rodin commented on #939
I wonder would it make sense to unify SQL sinks, which would include Postgres, ClickHouse, and at least for the sake of easy tests, SQLite. The idea is to have same configuration structure for them and support some kind of automatic tables creation/migrations.

[2019-09-29 14:19] LucioFranco commented on #932
@AlyHKafoury sure! Let me know if you need more info or help!

[2019-09-29 14:45] AlyHKafoury commented on #932
@LucioFranco a little info about where to start to tackle the stdin source module would be great to get me started

[2019-09-29 14:51] LucioFranco commented on #932
@AlyHKafoury sure!

So here is the main file https://github.com/timberio/vector/blob/master/src/sources/stdin.rs

This is where we create the `stdin` stream from tokio https://github.com/timberio/vector/blob/master/src/sources/stdin.rs#L43.

Ideally what we would probably want to do here https://github.com/timberio/vector/blob/master/src/sources/stdin.rs#L55 is to change this to something like so:

[2019-09-29 15:34] AlyHKafoury commented on #932
@LucioFranco It makes perfect sense, thanks alot I will try to apply it in a couple of days and get back to you

[2019-09-29 15:42] binarylogic commented on #862
Thanks @a-rodin. I had a pretty bad customer service experience with Package Cloud so I'd definitely like to move off of them. After further research, there are a lot of better, and cheaper, alternatives out there:

* [Gemfury](https://gemfury.com/) - Paid. Offers both APT and YUM repository hosting. Allows for custom domains. Does not support GPG.
* [Aptly](https://github.com/aptly-dev/aptly) - O

[2019-09-29 15:44] binarylogic opened #948 "Offer an Ansible Vector role"
This is an idea that would probably help admin setup Vector if they're using Ansible. We have a run of tasks defined in our test harness:

https://github.com/timberio/vector-test-harness/tree/master/ansible/roles/vector/tasks

[2019-09-29 16:45] a-rodin commented on #862
@binarylogic

I think in our case it is mostly about ability to provide automatic updates. Btw, if we provide automatic updates, we might also consider to have separate sections (like `deb [arch=amd64] https://packages.timber.io/linux/debian buster vector_0_4`) for each major version to not break things for users running `apt-get upgrade` if we plan do backwards-incompatible changes.

Aptly looks

[2019-09-30 15:19] LucioFranco commented on #813
@ktff for fargate, I believe we have access to the docker logging plugins. Can we either just use the `fluentd` or `syslog` plugin to send logs over the network to a central vector instance?

[2019-09-30 15:34] LucioFranco commented on #938
This is correct, it should be a simple `inotify` api and read the new config file.  We probably also want to limit how often we run the reload to avoid spurious reloads.

[2019-09-30 15:43] binarylogic commented on #938
@LucioFranco is inotify the best way to do this? Would it make more sense to hash the config contents and compare on an interval?

[2019-09-30 15:51] LucioFranco commented on #938
@binarylogic inotify should work well for this and the api is simpler than using our own implementation. I would suggest that we start with it mainly to reduce complexity.

[2019-09-30 19:58] lukesteensen commented on #938
We already have the ability to reload the config without restarting the process via SIGHUP. I think it's actually better for the reload to be an explicit action, as it reduces the chance of confusion. Are there examples of similar tools that watch the file system like this? In my experience, most require an explicit action to reload.

[2019-09-30 20:01] LucioFranco commented on #938
I agree, I’d rather see if we could explicitly trigger the update. Though I’m not sure how to achieve this through kube.

[2019-09-30 20:22] gumieri opened #950 "systemd.socket as source"
Would be interesting to have a [`systemd.socket`](https://www.freedesktop.org/software/systemd/man/systemd.socket.html) as source to the vector.

The advantage of using it instead of listening directly a port is to it "queue" requests if the `vector.service` is being restarted in case of errors, updating the binary or updating the configurations.

[2019-10-01 09:58] ktff commented on #813
@LucioFranco Fargate only supports `awslogs`, `splunk`, and of recently `awsfirelens`. `awsfirelens` is backed by fluentd/fluentbit, so ,yes , what you are suggesting is possible.

That would be a centralized topology.

It's doable over fluentbit:tcp -> vector:tcp + json_parser . This would require one ECS task definition and vector.toml hosted in Amazon S3 bucket.

[2019-10-01 10:07] ktff commented on #938
Then this could be behind a flag in the configuration. Which would be by default turned off.

And since running `kubectl apply` is an explicit trigger to update, in the supplied `.yaml` that flag could be on.

[2019-10-01 14:22] LucioFranco commented on #813
@ktff to me this seems like the quickest and easiest way to get ECS support. So I say we go with that method before anything more complicated.

[2019-10-01 16:05] binarylogic opened #951 "Display git version for nightly builds"
When the `vector --version` command is run it would be helpful if _nightly_ builds printed a version like `0.4.0-31-g089bb5a`. Actual releases would continue to display the released version (`0.4.0`). This is helpful for debugging.

[2019-10-01 18:43] ktff commented on #813
@LucioFranco I agree, that is definitely a better approach.

I'll add v2 specification.

[2019-10-01 21:07] bruceg opened #954 "Support certificate and key formats other than PEM"
_Originally posted by @LucioFranco in https://github.com/timberio/vector/pull/953_

The various sinks that support TLS all expect their certificate files to be in PEM format. While this is historically the most common format, it would be useful to allow for more modern standard file formats. This is especially true for identity files that combine the certificate with a key, as the code must conver

[2019-10-01 21:21] bruceg opened #955 "Unify the different TLS option sets"
There are a number of sinks that support TLS that have different sets of options for configuring the same settings. These are:

1. `elasticsearch` sink:
   - `tls.ca_path`
   - `tls.crt_path`
   - `tls.key_path`
   - `tls.key_pass`
   - `tls.verify_certificate`
1. `http` sink: no CA or identity options, no `tls` prefix
   - `verify_certificate`
1. `kafka` sink: no `verify_certificate`
   - `tls.en

[2019-10-01 21:34] ktff commented on #813
## Specification v2

Thanks to @LucioFranco, a way to have unified approach for whole ECS has been found.

### Behavior

Vector will collect logs from ECS containers through fluentbit. Vector as a central service and fluentbit as an agent.

### Setup

To setup this we would provide:

- template `vector.toml`, in which users can add what they please.
- template ECS task definition for Vector servic

[2019-10-01 23:28] cmmarslender opened #956 "Nightly releases broken"
Hello,

The release at https://packages.timber.io/vector/nightly/latest/vector-x86_64-unknown-linux-musl.tar.gz doesn't appear to be working.. That url is currently showing a server index page instead.

[2019-10-01 23:28] cmmarslender commented on #956
<img width="536" alt="vector" src="https://user-images.githubusercontent.com/1915905/66007769-858f3f00-e468-11e9-8e12-312d760d9304.PNG">

[2019-10-02 15:33] binarylogic commented on #956
Thanks @cmmarslender, sorry for the inconvenience. This should be resolved now. We made some infrastructure changes that broke our IAM permissions for the underlying S3 bucket.

[2019-10-02 15:39] LucioFranco commented on #955
breaking is fine, we are still below `1.0` 😄

I am curious if we want to tackle TLS with rusoto as well? There is a possibility that we can unify all our "IO" parts into one component that is shared across all our sinks.

[2019-10-02 16:24] binarylogic commented on #628
@LucioFranco what's the status on this? The ones that are checked are in master, right? I don't see any PRs referencing this issue.

[2019-10-02 16:26] cmmarslender commented on #956
@binarylogic I'm still seeing the same behavior.. in browser, its showing the server index page and if I try to pull the file with wget or curl, I just get a 403.

[2019-10-02 16:26] LucioFranco commented on #628
@binarylogic changes are being worked on locally. Most of the work is done but there is a blocking issue right now upgrading `tracing` that I am working on. These new changes in upgrading `tracing` will really improve the logging UX so I think it's very worth it.

I am hoping to get a draft PR up soon with the rate limit changes then will update it with the new tracing version.

[2019-10-02 16:46] binarylogic commented on #956
Ah damn, sorry about that. I'm fixing and adding a verification step as part of our CI process.

[2019-10-02 17:07] bruceg commented on #955
Rusoto works on a different layer I think. We could potentially unify all the HTTPS parts with rusoto, but I don't know how much gain it would be. AFAICT only the elasticsearch sink works both with and without AWS support.

[2019-10-02 17:22] bruceg commented on #753
Is there anything to test an implementation against comparable to the "localstack" image for AWS services?

[2019-10-02 17:55] bruceg commented on #887
Fixed through PR #953

[2019-10-02 17:55] #887 closed

[2019-10-02 17:58] bruceg commented on #954
This will become easier once #955 is complete, as it will then only affect the one place keys are loaded.

[2019-10-02 18:08] bruceg commented on #955
@binarylogic Since this will result in identical options in several files in `.meta/sinks`, is there any chance of an "include" option or a macro mechanism there to avoid the repetition?

[2019-10-02 18:25] binarylogic commented on #955
Yep. I have a pretty bad way of accomplishing this right now, which is to define common options in the `Sink` class:

https://github.com/timberio/vector/blob/2d5736e8f1e57ffe573c07cfcdc77e0c67dc84e9/scripts/util/metadata/sink.rb#L44

I'd much prefer to represent this in the `.toml` file itself, but that will require extending `.toml` in some way. I'd say you have 2 options for now:

1. Add options

[2019-10-02 21:42] #862 closed

[2019-10-02 21:44] binarylogic opened #962 "Add an APT repository"
For context please see https://github.com/timberio/vector/issues/862

We initially offered `apt` support through PackageCloud but had a pretty bad experience with them. We've since moved off of them, updating our installation instructions to install the `.dpkg` directly. At some point in the future, I'd like to support `apt` in a way that does not lock us into a provider. We discussed using aptly

[2019-10-02 21:45] binarylogic opened #963 "Add a YUM repository"
For context please see https://github.com/timberio/vector/issues/862

We initially offered `yum` support through PackageCloud but had a pretty bad experience with them. We've since moved off of them, updating our installation instructions to install the `.rpm` package directly. At some point in the future, I'd like to support `yum` in a way that does not lock us into a provider. We discussed this

[2019-10-03 02:38] binarylogic commented on #956
Hi @cmmarslender , this should be resolved now. I've manually verified that we can download the latest nightly files. In addition, we added verification steps in https://github.com/timberio/vector/pull/961 and https://github.com/timberio/vector/pull/961. This should ensure we don't regress on this.

[2019-10-03 02:38] #956 closed

[2019-10-03 04:27] binarylogic opened #966 ""test_sink_error stdout" randomly fails"
https://circleci.com/gh/timberio/vector/14423?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2019-10-03 09:50] jamessewell commented on #939
As far as writing data there is no difference between Timescale and Postgres.

It would be up to the user to configure the destination tables (and hypertables in the Timscaledb case) before the sink was used.

[2019-10-03 18:33] bruceg commented on #955
Is there a preference between `_file`, `_filename`, or `_path` (for `ca`, `crt`, and `key`)?
Also, between `key_pass`, `key_password`, `key_phrase`, or `key_passphrase`?

[2019-10-04 20:19] LucioFranco opened #970 "Write documentation about how to use tracing filters"
# Motivation

We should provide a good experience when users are trying to inspect why vector may have failed. Vector should provide methods in which developres/users can extract extensive debug information on specific components.

# Proposal

Write extensive documentation on how users can use the `LOG` environment variable to dig deeper into the logs of vector to diagnose certains issues. These i

[2019-10-04 20:23] LucioFranco commented on #628
I've opened a related issue around adding docs https://github.com/timberio/vector/issues/970

[2019-10-05 18:00] jamtur01 opened #973 "Docker image and installation docs are incorrect"
Looks like the default configuration isn't valid anymore.

[code]

[2019-10-05 18:04] jamtur01 commented on #973
Also looks like `latest` is not the latest (it's 0.0.3) and that the Docker Hub and Docker installation docs are out-of-date too (the latest-alpine and latest-debian images don't exist for example nor do most of the other image tags in the docs).

[2019-10-05 18:59] jamtur01 opened #974 "Docker image behavior inconsistent"
The behavior of two `timberio/vector:0.4.0-debian` and `timberio/vector:0.4.0-alpine` images is inconsistent.

For the `timberio/vector:0.4.0-debian` image:

[code]

The `timberio/vector:0.4.0-alpine` image:

[code]

Not sure if this is intentional or a bug.

[2019-10-05 19:21] jamtur01 opened #975 "Default configuration shouldn't assume Apache"
This is more of a suggestion than a bug. The current default configuration loads logs from Apache and outputs to console. I'd recommend using a configuration that will work out of the box without assuming Apache. For example, perhaps stdin to stdout with the text transformed some way? That way you see some working operations.

[2019-10-05 22:22] binarylogic commented on #973
@LucioFranco any idea what's going on here? I thought you worked on https://github.com/timberio/vector/issues/861 and addressed this in that process?

[2019-10-05 22:23] binarylogic commented on #974
Thanks @jamtur01 and sorry for the trouble. We'll correct this on Monday and add tests to ensure this doesn't regress.

[2019-10-05 22:24] binarylogic commented on #975
👍 agree, thanks for letting us know.

[2019-10-05 22:26] binarylogic commented on #950
@bruceg do you mind reviewing this? Is this something we should do, and does it overlap with the `journald` source? I don't have enough context on this source to know. Thanks.

[2019-10-05 22:28] binarylogic commented on #935
@lukesteensen do you mind reviewing this and determining if this is valid or something we should do? I don't have enough context to say. Thanks.

[2019-10-05 22:30] binarylogic commented on #897
Thanks for this! @ktff I've assigned this to you if you want to take care of it when you have time. Thanks!

[2019-10-05 22:32] binarylogic commented on #896
Thanks for reporting. Yes, I would look at the logs to see if that sheds any light. There definitely should not be any data loss. I'm adding this to our reliability milestone to add a long running test for Elasticsearch as well.

[2019-10-05 22:33] binarylogic commented on #876
@fujianan any update on this? Thanks.

[2019-10-05 22:35] binarylogic commented on #855
Assigning this to @LucioFranco because this appears to be Docker related. @LucioFranco if this is related to the current Docker issues can you add a comment and close? Thanks.

[2019-10-05 22:35] binarylogic commented on #847
@amitsaha let us know if you have any questions. You can also post your questions in https://spectrum.chat/vector.

[2019-10-05 22:36] binarylogic commented on #843
@lukesteensen I think this is done, but we never created issues for the work here. Let's do this on Monday and close this out.

[2019-10-06 20:44] gumieri commented on #950
To be fair, it is possible to take advantages of the `systemd.socket` by configuring a [systemd-socket-proxyd](https://www.freedesktop.org/software/systemd/man/systemd-socket-proxyd.html), but the option to use the socket more "natively" (a quick search [for rust](https://github.com/mitsuhiko/rust-listenfd)) instead of configuring a proxy sounds great.

It does not overlap `journald` because it is

[2019-10-07 13:42] #824 closed

[2019-10-07 14:21] lukesteensen opened #976 "Merge histogram values in metrics batch"
Follow up of #920

[2019-10-07 14:57] binarylogic opened #977 "Indefinitely run reliability tests and alert when they fail"
We're starting to introduce long-running reliability tests to our [test harness](https://github.com/timberio/vector-test-harness). The goal of these issues is to run our first reliability test indefinitely and alert when it fails.

[2019-10-07 15:09] binarylogic commented on #543
@bruceg just checking in on this. Do you mind letting us know what's left? So we can document it here. If nothing is left, feel free to close.

[2019-10-07 18:11] bruceg commented on #950
I agree with @gumieri, this does not have any interaction with the `journald` source. This would be an enhancement to the `tcp` source (and maybe `udp` or `vector`?) to accept a file descriptor passed to it by systemd or systemfd instead of listening for connections directly.

It would be a useful addition for people running systemd. It could allow for restarting Vector without dropping connection

[2019-10-07 18:12] binarylogic opened #978 "Add log error codes and map to documentation"
After using Vector and encountering a few errors I think it would be beneficial to map known errors to codes / specific documentation takes. For example:

[code]

It'd be nice if we could add something like:

[code]

Or something similar. This page would talk about the error and how to resolve it.

[2019-10-07 18:16] bruceg commented on #543
The whole configuration parsing stack still uses `String` error returns, mostly wrapped into `Vec<String>`. I have started working on this but pushed it aside to work on higher priority issues (TLS mostly). It was turning out to be less of a straightforward conversion that the sinks and sources were.

[2019-10-07 18:17] binarylogic opened #979 "Default data_dir to /var/lib/vector"
Somehow this changed, but `data_dir` should default to `/var/lib/vector`. Currently, it is required to be set in the config file.

[2019-10-07 19:16] binarylogic opened #980 "New `test`/`fake` source"
## Overview

This came about after discussing https://github.com/timberio/vector/issues/975.

I think a `test`/`fake` source can be a useful source for fiddling with Vector. For example:

[code]

## Use Cases

### Onboarding

It's important, as part of onboarding, to demonstrate a working example of Vector as soon as possible. An example that is not obtrusive and allows the users to "fiddle" with

[2019-10-07 19:20] binarylogic opened #981 "Configuration errors are logged twice"
Attempting to start `vector` without a configuration file produces:

[code]

This is also true when the configuration file is empty:

[code]

[2019-10-07 19:21] loony-bean commented on #980
Maybe we could use some kind of community led approach, where we encourage people the share their configs, regex's, etc.

[2019-10-07 19:33] binarylogic commented on #970
Noting, this should be placed in https://docs.vector.dev/usage/administration/monitoring and possibly to https://docs.vector.dev/usage/guides/troubleshooting.

[2019-10-07 20:37] binarylogic opened #983 "Use packer, or something else, to efficiently build Vector's CI Docker images"
## Overview

Currently, we have a hacked together script for building all of the Docker images necessary to execute [Vector's CI process](https://github.com/timberio/vector/blob/master/.circleci/config.yml) via `make build-ci-docker-images`:

https://github.com/timberio/vector/blob/master/scripts/build-ci-docker-images.sh

And you can see all of the CI Dockerfiles here:

https://github.com/timberi

[2019-10-07 21:36] LucioFranco opened #984 "Add additional filters to `docker` source"
Currently, the docker source supports a limited subset of filters to filter the list of running containers on. We should add support for more to allow users provide more flexible filters.

- [x] Include container image name
- [ ] Exclude container id
- [ ] Exclude container label
- [ ] Exclude container image name

[2019-10-07 22:29] amitsaha commented on #847
hi @binarylogic thanks - will keep that in mind. I have started working on the patch, but hasn't spent a lot of time on it yet to make a PR.

[2019-10-08 02:01] binarylogic commented on #950
Sounds good, let's proceed then.

[2019-10-08 02:13] LucioFranco commented on #981
@binarylogic this is a result of a bug in the earlier tracing libraries. This will be fixed with #971

[2019-10-08 02:14] LucioFranco commented on #978
I think this relates to some of the error work that @bruceg has done. I think we could just add these types of hints specifically to the error variants `Display` implementation.

[2019-10-08 02:30] akulkarni commented on #939
A general unified SQL sink might be challenging given the language variants between the different databases.

But @jamessewell is correct, there should be no difference in writing data between Timescale and Postgres (but there may be other reasons for creating a Timescale specific sink).

[2019-10-08 04:31] #975 closed

[2019-10-08 04:33] binarylogic commented on #975
Thanks for reporting @jamtur01, this has been resolved. The `0.4.0-*` and `latest-*` images have been updated as well:

https://cloud.docker.com/u/timberio/repository/docker/timberio/vector

[2019-10-08 04:33] binarylogic commented on #974
Thanks for reporting @jamtur01, this has been resolved. The `0.4.0-*` and `latest-*` images have been updated as well:

https://cloud.docker.com/u/timberio/repository/docker/timberio/vector

[2019-10-08 04:33] binarylogic commented on #973
Thanks for reporting @jamtur01, this has been resolved. The `0.4.0-*` and `latest-*` images have been updated as well:

https://cloud.docker.com/u/timberio/repository/docker/timberio/vector

[2019-10-08 04:34] #974 closed

[2019-10-08 04:34] #973 closed

[2019-10-08 04:34] binarylogic commented on #855
Thanks for reporting @romvarac, this has been resolved. The `0.4.0-*` and `latest-*` images have been updated as well:

https://cloud.docker.com/u/timberio/repository/docker/timberio/vector

[2019-10-08 04:34] #855 closed

[2019-10-08 04:35] binarylogic commented on #829
Thanks for reporting @rwfeatherf5 , this has been resolved. The `0.4.0-*` and `latest-*` images have been updated as well:

https://cloud.docker.com/u/timberio/repository/docker/timberio/vector

[2019-10-08 04:35] #829 closed

[2019-10-08 04:44] binarylogic opened #986 "Improve the default vector.toml configuration file"
This is a follow up to https://github.com/timberio/vector/issues/980.

The [current default `vector.toml` configuration file](https://github.com/timberio/vector/blob/master/config/vector.toml) is a simple `stdin` and `stdout` setup. The purpose of this is to ensure vector starts by default with new installations but it's pretty unhelpful. I think we can do better with new user experiences:

1. Usi

[2019-10-08 06:44] loony-bean opened #987 "Unify Metric Type documentation"
Currently `Metric Types` doc sections for [CloudWatch](https://docs.vector.dev/v/master/usage/configuration/sinks/aws_cloudwatch_metrics#metric-types) and [Prometheus](https://docs.vector.dev/v/master/usage/configuration/sinks/prometheus#metric-types) sinks
 are using slightly different formatting. [Statsd page](https://docs.vector.dev/v/master/usage/configuration/sinks/statsd) doesn't have this s

[2019-10-08 06:44] loony-bean opened #4117 "Unify Metric Types documentation"
Currently `Metric Types` doc sections for [CloudWatch](https://docs.vector.dev/v/master/usage/configuration/sinks/aws_cloudwatch_metrics#metric-types) and [Prometheus](https://docs.vector.dev/v/master/usage/configuration/sinks/prometheus#metric-types) sinks
 are using slightly different formatting. [Statsd page](https://docs.vector.dev/v/master/usage/configuration/sinks/statsd) doesn't have this s

[2019-10-08 07:57] XVilka opened #988 "Support Sonic integration in addition to Elastic"
[Sonic](https://github.com/valeriansaliou/sonic) is a fast, lightweight and schema-less search backend. It ingests search texts and identifier tuples that can then be queried against in a microsecond's time. It implemented in Rust too, which makes it a perfect complement to Vector.

Sonic can be used as a simple alternative to super-heavy and full-featured search backends such as Elasticsearch in

[2019-10-08 15:18] #613 closed

[2019-10-08 15:52] LucioFranco opened #989 "Ignore `rate_limit_secs` tracing attribute for rate limited logs"
Currently, when we have an event that requires rate-limiting we add an attribute to its tracing event like so `info!(rate_limit_secs = 30)`. It would be nice to avoid having to print this via the `FmtSubscriber`.

## Solution

Not sure what the best method here is for trying to filter out an attribute from being printed. This would require the `tracing-subscriber` crate to support this feature.

/

[2019-10-08 15:54] LucioFranco opened #990 "Replace usage of `reqwest` with `hyper`"
Currently, we pull in `reqwest` for tests in a couple of places but we already pull in `hyper` and `http`. So I think it would make sense to remove this additional dependency to reduce compile times and the number of dependencies we require during tests.

[2019-10-08 15:56] binarylogic opened #991 "New `prometheus` source"
A `prometheus` source would scrape one or more targets as metrics input.

This has the potential to get somewhat complicated if we want to support auto-discovery and tag augmentation when scraping targets. Before we begin work we should:

1. Determine how deep we want to go with scraping. Ex: autodiscovery, tagging, and so on.
2. Define the steps. What is the simplest first step and what does the

[2019-10-08 16:01] binarylogic opened #992 "New `cmd` or `exec` source"
After talking with @lukesteensen he had an interesting idea of using a command as data input. This command would be executed on an interval, the output would be ingested as either log or metrics events. This is an interesting approach to "plugins" in that users could write simple scripts that interface with any data source.

Before we begin work, we should outline scenarios this would support and

[2019-10-08 16:08] LucioFranco commented on #827
@ktff I think this makes sense! For the latter part we probably want to update the connector, I think @bruceg change recently touched that part.

[2019-10-08 16:08] binarylogic opened #993 "New `github_metrics` source"
I'm opening this to start a broader discussion around plugins and integrations with external services. This idea came about after looking into https://github.com/infinityworks/github-exporter. This is an interesting way to pull data from an API/service on an interval. For this source, specifically, we would pull gauges of star count, release download counts, page views, and more.

Open questions:

[2019-10-08 17:13] hawkw commented on #989
@LucioFranco https://github.com/tokio-rs/tracing/issues/73 is a feature request for adding a way to specify skipped field values, this should work with `FmtSubscriber` pretty easily. It's currently blocked on https://github.com/tokio-rs/tracing/pull/241, which I'd like to merge soon.

[2019-10-08 17:33] #955 closed

[2019-10-08 19:38] rossgardt commented on #990
I'd like to give this a shot. Can you assign it to me please?

[2019-10-08 19:40] LucioFranco commented on #990
@rossgardt hi! It's yours, let me know if you need any help :)

[2019-10-08 22:21] #929 closed

[2019-10-08 22:21] #981 closed

[2019-10-08 22:32] binarylogic opened #996 "Cleanup rate limit messaging"
Related https://github.com/timberio/vector/issues/989

Currently when an event is rate limited it produces the following logs:

[code]

We should clean these up to produce:

[code]

1. The `count=0 and rate_limit_secs=5` have been removed.
2. The second and third events are only displayed if an event was received. Otherwise, the user is non-the-wiser to the fact that the event would be rate-limite

[2019-10-08 23:00] lukesteensen commented on #935
Thanks for this idea @mamcx! It's definitely an interesting one.

My main hesitance is around the management of the long-running subprocess. There are a lot of cases to handle there and we'd probably be better off leaving that to a dedicated process manager like systemd or supervisord.

As an alternative, you could use the `file` source and point it at a named pipe instead of a normal file. You co

[2019-10-08 23:11] mamcx commented on #935
I was not thinking about long running commands, just one-shoot (alike cgi). Probably more robust? I think that a long running command is more probably a web server or similar or an interactive one.

[2019-10-09 00:20] binarylogic opened #998 "The Vector install script requires `sudo` when running `dpkg`"
I have a CI check that tests if the install script works. This check is run on Debian so the script tries to use `dpkg`. The issue is that `sudo` is required to execute `dpkg`:

[code]

Our installation instructions advertise the following command:

[code]

I'm curious what the best course of action is here?

1. I could prefix [this command](https://github.com/timberio/vector/blob/df6018be6c1c9646

[2019-10-09 10:44] megastef opened #1000 "Add Sematext Cloud to documentation"
Hi,

could you please help me to add documentation for [Sematext](https://sematext.com) in Vector docs?

It turned out it is difficult to add a separate documentation section in sinks. Do you plan a section for vendor integrations without dependencies on the .meta files and scripts?

We need just a few provider-specific settings and would like to describe it in vector docs. To make it easy to disc

[2019-10-09 13:39] megastef commented on #562
To use the influx line protocol to ship metrics to SaaS like Influx & Sematext Cloud, we would like to see support for HTTPS.
I think UDP is great in local networks, however, UDP is not the best choice for SaaS Services like Influx Cloud or Sematext Cloud.

Curl example:
[code]

[2019-10-09 13:45] a-rodin commented on #946
Additionally, I think we can unify it with the builder for `armv7-unknown-linux-musleabihf`.

[2019-10-09 15:02] LucioFranco commented on #996
Just FYI in this example, the count is an added attribute for the example explicitly. This will not exist in other rate limited events.

Currently, we start rate limiting on the invocation of the second event within the window of the first. So this is already lazy, I think that starting to rate limit on the 3rd could become a bit unperformant. That said we do have benchmarks so we can try it!

[2019-10-09 15:10] LucioFranco commented on #946
@a-rodin does clang support changing its target like rustc can? Meaning we can build multiple toolchains into the image?

[2019-10-09 15:13] a-rodin commented on #946
Clang itself supports, although the libraries would need to be put into separate prefixes. However, I was thinking about having a single Dockerfile, but two images that are built with different build args.

[2019-10-09 15:16] a-rodin commented on #946
Also, with multi-arch support in place we would be able to also easily create a builder for `i386-unknown-linux-musl`.

[2019-10-09 15:36] #998 closed

[2019-10-09 15:36] lukesteensen commented on #998
Installing a package is generally something that requires `sudo`. I don't think most of the `curl | sh`-style installers use actual packages under the hood, and people are rightly a little suspicious of `curl | sudo sh`.

We could potentially split these up, encouraging everyone who can to just use the deb/rpm directly (i.e. `curl`/`wget` and `dpkg -i` doesn't need it's own script) and then have t

[2019-10-09 16:19] LucioFranco commented on #946
Yeah, that makes sense!

[2019-10-09 18:45] binarylogic commented on #1000
Thanks, @megastef. We'll get this added. We've been talking internally about how to expose alternative uses of generic components. We'll make some changes to the docs that will allow this, I'll get a PR up this week. Currently, our docs do not support that.

[2019-10-09 19:29] lukesteensen commented on #935
Gotcha, yes I think that would be simpler and something we could consider. It's unlikely to be a high priority for our own development efforts, but I'd be happy to review a PR that added such a feature.

At a high level, the design would roughly be to use our prebuilt batching components combined with a `Service` implementation that spawned tokio-managed `Command`s with the incoming request wired

[2019-10-09 20:27] LucioFranco opened #1002 "Cloudwatch identifying a dynamic group name when it is static"
Config:

[code]

Output logs:
[code]

I will need to dig deeper to figure out why this is happening but opening this to track this potential bug.

[2019-10-09 21:32] binarylogic opened #1004 "Kafka broker configuration is not consistent across the kafka source and sink"
This is feedback from a production user:

Basically, the `kafka` source takes a comma-separated list of `bootstrap_servers` and the `kafka` sink takes a proper array. I prefer the array unless there is a limitation to doing so.

[2019-10-09 21:41] LucioFranco opened #1005 "Ensure docker release containers contain proper ca certs"
Currently, at least our debian container does not contain updated ca-certs I was able to produce ssl errors while trying to connect to aws. We need to ensure that these containers are able to talk securely.

[2019-10-09 21:47] #954 closed

[2019-10-09 22:01] binarylogic commented on #1005
Please

- Provide more detail on what you did to produce this.
- Any logs or output you experienced.
- Add a note that states this should be tested in CI in some way to ensure we don't regress.

[2019-10-09 22:23] #1002 closed

[2019-10-09 22:28] LucioFranco commented on #1005
@binarylogic we just need to ensure `update-ca-certificates` (this is the one for debian, I have not tested alpine) has been run on the containers I believe. @a-rodin may have a better idea.

[2019-10-10 01:33] linc01n commented on #1005
I have the same problem with the ca-certificates while connecting to Amazon Elasticsearch Service as sink. I need to install ca-certificates on top of the official debian docker image.

This issue is quite hard to test. The slim image missing `wget`,`curl`, `openssl` it took me a while to hunt down it is a system ca issue.

[2019-10-10 07:40] romvarac opened #1007 "[Help] How to connect source TCP"
Hi team,
I use timberio/vector:latest-debian (0.4-dev)
1. vector.yml
[code]
2. docker-compose.yml
[code]
3. golang code file
[code]
Log vector not show anything, so, how I can connect source TCP. Thanks.

[2019-10-10 10:18] grddev opened #1008 "Support reopening the daemons log files without restart"
I'm trying to write a logrotate configuration for vector itself, but it seems the HUP signal does not reopen its log file. While both a copytruncate configuration and restarting the vector daemon works well, it would be nicer if the log files could be reopened without the extra work.

[2019-10-10 10:40] megastef commented on #1000
Sounds great! We have already a second use case in mind. Sematext exposes the InfluxDB line protocol for metrics ingestion.

[2019-10-10 12:14] a-rodin commented on #1005
@LucioFranco It seems like if we don't need to add self-signed certificates there, just installing `ca-certificates` package should be enough as [this answer](https://askubuntu.com/questions/645818/how-to-install-certificates-for-command-line/859887#859887) suggests. I've tested installing `ca-certificates` packages and `http` sink with SSL and it worked fine.

[2019-10-10 15:31] LucioFranco commented on #1005
@a-rodin Agreed, does alpine have a similar command?

[2019-10-10 15:33] a-rodin commented on #1005
@LucioFranco I believe the packages called [ca-certificates](https://pkgs.alpinelinux.org/package/v3.3/main/x86/ca-certificates) too. So the command would be

[code]

[2019-10-10 19:33] bruceg commented on #950
How do we want to handle configuring the listening socket address? When started from systemd, the `address` setting is overridden by the already created listening socket and so is redundant, but otherwise it is required.

[2019-10-10 19:40] binarylogic opened #1010 "Bump internal Vector version before building release artifacts"
As part of the release process, we need to bump the internal Vector version in the Cargo.toml file. I recommend we do it immediately before executing [these commands](https://github.com/timberio/vector/blob/master/scripts/release-commit.rb#L46).

[2019-10-10 19:54] LucioFranco opened #1011 "Add new `syslog_parser` transform"
# Motivation

As a user I'd like to ingest my logs via docker then parser the internal log message as syslog.

# Proposal

We should implement a `syslog_parser` transform which can take any field and parser syslog out of it. This should share the same syslog components from our `syslog` source but provide just the parser as a transform. This should be similar to our `json_parser`.

[2019-10-10 20:20] loony-bean commented on #991
Looking at how Datadog [is doing Prometheus scrapes](https://github.com/DataDog/integrations-core/blob/master/prometheus/datadog_checks/prometheus/data/conf.yaml.example) I think that the simplest first step would be to ask user for:
- Prometheus url in form of e.g. `http://localhost:10055/metrics`
- Time interval to wait between requests

So basically we will start from autodiscovery as default b

[2019-10-10 22:07] binarylogic opened #1012 "Improve component documentation structure"
I'm opening this issue mostly for discussion, my hope is that we can distill this into actual concretes changes after obtaining consensus.

After working through some integration tests that involved the `file` source, I found the docs to be a little difficult. I think we can do better. A few things I noticed about the `file` source documentation:

- [x] Searching for `fingerprint_bytes` (an option

[2019-10-10 22:11] binarylogic commented on #979
Reopening since this is still an issue.

[2019-10-10 22:57] lukesteensen commented on #1007
Your dial address is fine, `0.0.0.0` is a special address that means "listen on all interfaces".

I believe the issue is that you're not sending a newline at the end of your log message. The tcp source uses newlines as the delimiter between messages, so if it never receives a newline it will also there could be more data coming as part of the same message.

[2019-10-10 23:01] lukesteensen commented on #1008
Hi @grddev! Could you provide some more information about how you're running vector?

The vector process itself does not log directly to a file (unless you're talking about a pipeline with a file sink), so normally it's your process manager that would have the open handle to the log file.

[2019-10-11 03:04] romvarac commented on #1007
@lukesteensen, you have a demo for connecting to source TCP, any language code. Thanks

[2019-10-11 05:07] amitsaha commented on #847
hey folks, just wanted to get feedback regarding writing tests for this. Do we test against a "real" maxmind DB file? If so, where does it live (as far as CI/local testing goes)?

[2019-10-11 05:43] grddev commented on #1008
Ah, I see I mixed things up. The output was actually redirected in an init script. For the benefit of anyone else similarly confused in the future and searching for an answer here, the following question and answers would likely be helpful https://superuser.com/questions/291368/log-rotation-of-stdout.

[2019-10-11 05:43] #1008 closed

[2019-10-11 14:13] lukesteensen commented on #979
Should actually be fixed by #1013

[2019-10-11 14:13] #979 closed

[2019-10-11 14:23] ticon-mg opened #1017 "New `aws_s3` source"
Needs Source: AWS S3

[2019-10-11 14:36] ticon-mg commented on #1017
Hi!
I am talking about the source of the log files for processing vector.

[2019-10-11 17:51] binarylogic commented on #445
I've re-tested this against Vector `0.5.0` and all works as expected. I'm closing as a result.

[2019-10-11 17:51] #445 closed

[2019-10-11 18:53] lukesteensen opened #1020 "Clarify behavior of `start_at_beginning` option"
The docs for `start_at_beginning` currently read:

[code]

The actual behavior is a little more complex. Where Vector starts reading a file depends on a number of factors:

1. Was this file last modified more than `ignore_older_than` seconds ago?
2. Did we find the file at startup or did it appear while we were already running?
3. Do we have a checkpoint stored for this file?
4. `start_at_beginnin

[2019-10-11 20:19] binarylogic commented on #1017
Ah, that makes more sense. Thanks!

[2019-10-11 20:22] binarylogic commented on #1007
I've added this to the setup & debugging milestone because it probably could be resolved with a simple demo. This is something I want to explore as part of improving the setup experience.

[2019-10-11 20:23] binarylogic commented on #983
Noting, all images build fine locally except for the `*-musl` image, which should be resolved by https://github.com/timberio/vector/issues/946.

[2019-10-11 21:14] lukesteensen commented on #1007
@romvarac Here's a quick example I've tested locally:

1. `vector.toml` (same as yours)

[code]

2. `docker-compose.yml` (different volume config than yours)

[code]

3. `src/main.rs` (Rust program instead of Go, but same idea)

[code]

You don't actually need the `\n` at the end of the text in this case since Vector will automatically terminate the message when the connection is closed at the end

[2019-10-11 23:05] jamtur01 opened #1021 "Version mismatch in binary output"
I installed the 0.5.0 RPM or Debian packages from GitHub and I see:

[code]

When I run it. I see `version="0.4.0-dev"` and `git_version="v0.5.0"` -> Is this a bug or should I expect the versions to vary?

[2019-10-11 23:48] binarylogic commented on #1021
Thanks, @jamtur01, and sorry about that. I opened https://github.com/timberio/vector/issues/1010 to address this.

[2019-10-11 23:53] binarylogic commented on #991
@lukesteensen do you mind reviewing? I'd like to prioritize this since T-Mobile asked for it and I'd like to use it for our own use cases. When you're done reviewing can you remove yourself and the `meta: needs review` label?

[2019-10-12 03:25] gumieri commented on #950
I think if the systemd.socket would be considered a new sink, the configuration would be just a type (like `stdin`):

[code]
But it would be not able to receive metrics from that, only if a `statsd` transform was also created.

The other strategy would be considering UNIX/IPC socket and systemd.socket as a different kind of `address`. But, I see it conflicting with `tcp` and `udp` source. In that

[2019-10-12 16:30] binarylogic opened #1022 "Nest request_* options under request.*"
This is low priority. Currently, the `request_*` options are represented as top-level options:

[code]

My guess is that we'll want to add more options to adjust the response codes to retry on, etc. To keep things consistent with `buffers.*`, `tls.*`, etc. I propose that we move these to a `request` table:

[code]

[2019-10-12 16:41] binarylogic opened #1023 "Nest batch_* options under batch.*"
Similar to #1022, I think we can group `batch_*` options under a `batch` table:

[code]

Again, this is low priority, but would help to make our options style more consistent which would make documenting and scanning options easier.

Ex: https://docs.vector.dev/v/master/usage/configuration/sinks/http

[2019-10-12 16:45] binarylogic opened #1024 "Nest rate_limit_* options under rate_limit.*"
Similar to #1022, I think we can group `rate_limit_*` options under a `rate_limit` table:

[code]

Again, this is low priority, but would help to make our options style more consistent which would make documenting and scanning options easier.

Ex: https://docs.vector.dev/v/master/usage/configuration/sinks/http

[2019-10-13 18:02] binarylogic commented on #827
@ktff this looks good to me. What would the default be for this? I assume we'd offer DNS resolution by default, without any configuration, correct?

[2019-10-13 18:03] binarylogic commented on #827
And to clarify, let's proceed with this. Feel free to begin work unless you have any other outstanding questions or blockers.

[2019-10-13 22:45] jamtur01 commented on #1021
As an aside - the asset names in the GH release also changed between 0.4.0 and 0.5.0.

0.4.0: https://github.com/timberio/vector/releases/download/v0.4.0/vector-0.4.0-amd64.deb

0.5.0: https://github.com/timberio/vector/releases/download/v0.5.0/vector-amd64.deb

Not particularly important but annoying for folks building Docker images or configuration management modules, etc.

Thanks.

[2019-10-13 23:36] binarylogic commented on #1021
Apologies for that! We've been working out kinks in the release process. Minus this issue, I believe everything should be resolved. The asset names won't be changing again. Thanks for letting us know.

[2019-10-13 23:42] binarylogic commented on #1011
We've discussed this quite a bit in the past. The questions we need to answer:

1. How is this better than documenting common formats in the `regex_parser` transform?
2. Would a "native" parser like this outperform regex? In other words, is there a performance benefit to this?
3. Is https://github.com/timberio/vector/issues/334 a better approach since it would support other common formats (apache,

[2019-10-14 02:18] romvarac commented on #1007
I run main.rs but don't see anything in vector console
[code]

[2019-10-14 04:10] binarylogic commented on #1007
@romvarac you would see a log message indicating that a new file has been found, so it appears there are not files that match your pattern: `/var/log/apache2/*.log`.

[2019-10-14 07:18] romvarac commented on #1007
I run wrong way in vector docker, set volume vector.toml but not map, it get vector.toml default. Thank everyone very much

[2019-10-14 07:18] #1007 closed

[2019-10-14 09:48] ktff commented on #827
Yes, default DNS resolution will be that of OS, while the provided DNS servers will have priority over OS.

[2019-10-14 11:38] loony-bean opened #1025 "Sets in Datadog metrics"
Aggregate Set values into numbers of unique values, and submit them as gauges.

Rel #747, #967

[2019-10-14 11:42] loony-bean opened #1026 "Use metrics batch in Datadog sink"
This will add some performance gains, as well as support for Gauge deltas.

Blocked by #930
Rel #967

[2019-10-14 12:08] loony-bean opened #1027 "Send aggregated histograms to Datadog"
Datadog histograms aggregation is [made by DogStatsD](https://docs.datadoghq.com/developers/faq/data-aggregation-with-dogstatsd-threadstats/#aggregation-rules-per-metric-type) before data is sent to the DD API endpoint.

Possible solution might be calculating multiple metrics, such as _min_, _max_, _avg_, etc, from batches of histogram values, and sending them out from the sink.

At first glance s

[2019-10-14 12:10] #585 closed

[2019-10-14 16:22] #941 closed

[2019-10-14 16:22] binarylogic commented on #983
Closing this in favor of https://github.com/timberio/vector/issues/946

[2019-10-14 16:22] #983 closed

[2019-10-14 16:24] binarylogic commented on #861
Closing this since the issues were addressed in https://github.com/timberio/vector/pull/985. The `scratch` image work can be tracked via #834,.

[2019-10-14 16:24] #861 closed

[2019-10-14 16:41] binarylogic opened #1029 "Spec out the "Support more targets & improve existing ones" project"
Before we begin work on https://github.com/timberio/vector/milestone/18, I'd like to do the following:

- [ ] Remove any currently assigned issues we do not want to do.
- [ ] Add any issues we're missing.
- [ ] Firm up the description across all issues to ensure the task is clear. We don't need to spec them out, we can do that, if necessary when we begin work.
- [ ] Agree on a delivery date.

I'd

[2019-10-14 16:45] binarylogic opened #1030 "Spec out the "Improve setup & debugging" project"
Before we begin work on https://github.com/timberio/vector/milestone/19, I'd like to do the following:

- [ ] Remove any currently assigned issues we do not want to do.
- [ ] Add any issues we're missing.
- [ ] Shape all issues so they are ready to be worked on.
- [ ] Agree on a delivery date & schedule presentation.

I'd like to limit this project to 4 weeks, which would put us into the second we

[2019-10-15 10:16] romvarac opened #1031 "[Help] coercer transform"
Hi team, I did [coercer transform guide](https://docs.vector.dev/usage/configuration/transforms/coercer) but result not the same.
I use timberio/vector:latest-debian docker image
(Vector is starting. version="0.4.0-dev" git_version="v0.5.0")
1. vector.toml
[code]
2. Result
[code]
3. Expected
[code]
So, how I do the same result in the above guide. Thanks

[2019-10-15 16:38] a-rodin opened #1032 "Support macOS Catalina"
At the moment builds with `leveldb` feature on macOS Catalina are broken because `leveldb-sys` crate cannot be compiled. Builds on macOS Mojave still work.

[2019-10-15 16:48] bruceg commented on #950
This would not be a new source, but an adaptation of the existing sources that use a common TCP helper module (the syslog, tcp, and vector sources). This could potentially be expanded to other sources that accept connections if the need arises. In this way, it simply becomes a new connection acceptance strategy (which is all this really is), using the same data format handling as the existing sour

[2019-10-15 21:28] lukesteensen commented on #1031
Thanks for the report @romvarac! There are indeed a couple of issues here.

The first is that you've set up the `tcp` source to directly feed into the `coercer` transform. The `tcp` source doesn't do any parsing of fields on its own, so your event actually looks something like this when it gets to the coercer:

[code]

To handle this, you can use the `json_parser` transform to parse the message fi

[2019-10-16 11:40] a-rodin commented on #1032
Waiting for skade/leveldb-sys#12 to be merged.

[2019-10-16 11:42] Jeffail commented on #98
I think stricter validation during `--dry-run` is a good thing but as it currently stands we're in a pretty good place. The vast majority of user errors are going to be typos that will be caught with the current checks.

Things I think we could improve:

Validation currently seems to check for things such as the existence of the `data_dir`, it would be good to suppress errors related to our runtim

[2019-10-16 11:46] Jeffail commented on #658
I think this is basically ready to go but there's a few small QOL improvements outlined in https://github.com/timberio/vector/issues/98#issuecomment-542660074 that I think would ought to add before adding this to our CI.

[2019-10-16 11:50] Jeffail commented on #342
Whatever we choose to add should beat this for convenience and performance:

[code]

^ Disclaimer: I haven't actually tried that.

[2019-10-16 11:57] a-rodin opened #1035 "Support LLVM lld as the linker"
Currently _lld_ is not supported as the Rust linker on some platforms because Vector is unable to parse configs when linked using it, see discussions for #791 and #732. The reason is that the version of [typetag](https://github.com/dtolnay/typetag) used by Vector has [rust-ctor](https://github.com/mmastrac/rust-ctor) crate as a dependency which uses some features specific to GNU ld and doesn't wor

[2019-10-16 12:10] a-rodin opened #1036 "Re-enable LTO for x86_64-unknown-linux-musl build"
#794 disabled cross-language LTO because _lld_ was not fully supported. When #1035  is resolved, it would be possible to revert #794 and support LTO again.

[2019-10-16 12:27] a-rodin commented on #700
This was done in #945 (stable Rust) and #927 (replaced LibreSSL by OpenSSL).

[2019-10-16 12:27] #700 closed

[2019-10-16 12:30] #865 closed

[2019-10-16 12:38] a-rodin commented on #946
I think it makes sense to do this after #859, #1035, and #1036 are done (but not necessarily merged) to stabilize requirements for the exposed toolchain.

[2019-10-16 12:46] Jeffail commented on #1030
Improvement ideas added to: https://github.com/timberio/vector/issues/98
^ Becomes a dependency of: https://github.com/timberio/vector/issues/658

[2019-10-16 13:05] a-rodin commented on #860
We can use `ubuntu:12.04`, which is the base image of `japaric/x86_64-unknown-linux-gnu:latest`, directly as our base image.

The libraries are not up to date and that's exactly what we need for a non-specific `x86_64-unknown-linux-gnu` build. Glibc is backward compatible, but not forward compatible, which means that we need to link to the oldest version we want to support to ensure that the resul

[2019-10-16 13:09] lukesteensen commented on #1027
That lines up with what it seems like [veneur](https://github.com/stripe/veneur#by-metric-type-behavior) does, which makes sense.

[2019-10-16 13:16] lukesteensen commented on #991
I agree with @loony-bean's comment above. We'll probably want to accept a list of URLs to scrape instead of just one, but I don't think we need to get any fancier than that for the first version.

Eventually we'll probably want some integration with service discovery systems to find hosts to scrape, but that's something that can be added later.

[2019-10-16 13:24] Jeffail commented on #832
I think we can go in one (or both) of two significantly different directions here:

## Import fields

The syntax could be very simple. Something like an array field `imports` at the root of a config file:

[code]

However, this syntax limits us in the future if we wanted to allow more specialized imports. If we wish to leave that door open we can instead support import tables:

[code]

Which is a

[2019-10-16 13:33] Jeffail commented on #931
Expanding on this, an awesome stretch goal might be to enable generating configs for these types. Something like `vector --generate source:udp,transform:json_parser,sink:tcp`. This would likely require significant work but might also help with generating/updating our config examples.

[2019-10-16 13:37] a-rodin commented on #951
Just displaying git version can be done using [built](https://crates.io/crates/built) crate the we are already using [here](https://github.com/timberio/vector/blob/b541bb1a4097d22f3efa9d74ccaf28cabcbe6466/src/main.rs#L187). But

[2019-10-16 13:42] loony-bean commented on #931
Love the idea! Maybe even `vector --generate file|apache_parser|tcp`?

[2019-10-16 13:52] lukesteensen commented on #931
@loony-bean That's getting pretty close to the configuration language I've been dreaming about writing :smile:

[2019-10-16 14:47] a-rodin commented on #826
This can be done after #946 to not force the users to build the toolchain locally.

[2019-10-16 15:03] lukesteensen commented on #847
@amitsaha Good question. If there is a small file available with an appropriate license, we could include it in a `test_data` directory or something like that. That does seem like it would be useful for testing.

[2019-10-16 16:10] Jeffail commented on #232
Dumping some thoughts before writing specs out.

## Goals

#### Ability to complement configs with unit tests

I think we should aim for a solid specification for unit testing Vector configs, something that we can recommend as best practices for maintaining large deployment projects.

#### Simplified execution

It should be simple to run a group of unit tests. Something like `vector --test ./confi

[2019-10-16 19:03] binarylogic opened #1037 "Specify Vector version in the Vector config file"
After talking with @a-rodin he had the following idea:

I don't think we should address this during the pre-1.0 phase of development, but I wanted to open this issue for discussion.

[2019-10-16 19:22] binarylogic opened #1038 "Interactive playgrounds / demos"
There are use cases where we can provide interactive demos in a low-friction manner. A couple of good examples:

1. [Telegraf's interactive demo](https://rootnroll.com/d/telegraf/)
2. [Benthos labs](https://lab.benthos.dev/)

I'd like to explore something similar for Vector. Perhaps we can start with popular use cases (Kafka, Elasticsearch, K8s, etc.)?

cc @Jeffail

[2019-10-16 20:31] moschroe commented on #847
I have implemented an experimental, rough version of geoip support for a private project. Sadly, I never managed to find the time to open this issue and start a PR :/

I looked at logstash's feature set and felt that being able to configure every possible way of quoting every possible field of a lookup into every possible event field smelt rather turing complete.

I opted to integrate this with lu

[2019-10-17 06:59] zcapper commented on #790
At Checkbox (https://checkbox.ai) we use Vector in prod to ship our system and container logs to S3.

[2019-10-17 09:40] Jeffail commented on #832
One interesting use case I would quite like to solve would be to import config snippets multiple times with different insertion points. For example, if we have a pretty complex set of transforms for doing something that is common to us we might break it out into a snippet, e.g. `./snippets/quack_to_woof.toml`:

[code]

However, we can only import that snippet once into a root config as it has a st

[2019-10-17 09:55] Jeffail opened #1039 "Expose configuration during runtime"
Config errors are extremely common, and as Vector grows so will a typical users’ config file. Linting/validation of configs is a great first step. However, some config errors will still result in valid Vector configurations. A very common example is fumbled deployments where either the wrong (often older) config file ends up in production, or the service is never refreshed with the new config.

Im

[2019-10-17 09:58] Jeffail commented on #1038
This is somewhat related to https://github.com/timberio/vector/issues/232 as both a unit test specification and a playground would benefit from a consistent way of isolating a graph of transforms from a wider Vector configuration. I'll spec out the unit testing work with this in mind.

[2019-10-17 10:01] Jeffail commented on #1030
Added: https://github.com/timberio/vector/issues/1039

[2019-10-17 10:54] soufiane-bouchaara opened #1040 "Basic_auth in http sink"
Hi,

When enabling basic_auth in HTTP sink , I keep receiving the following error :
``
ERROR vector: Configuration error: unknown field `basic_auth` for key `sinks.http`
``
Here's  my config file :

[code]

[2019-10-17 11:30] a-rodin opened #1041 "Make Vector more scriptable"
In this issue I want to discuss on high level adding scripting APIs to Vector. It might not be the top priority at the moment, but I'm creating this issue now to give us enough time to think about it and discuss it.

## Introduction

### Goals and scope of this issue

The goal is to define how ideal APIs should look like, even if they cannot be easily implemented at the moment. This would allow us

[2019-10-17 11:39] zcapper opened #1042 "Improve `docker` source's event metadata"
I feel there's a missed opportunity the the `docker` source does not enrich the logs by adding Docker container labels (and possibly other metadata) as fields; either by giving an option to provide a set of labels to include as fields (if present), or just an option to include all/none of them.

For context, we are running vector on Kubernetes and are collecting Kubernetes container logs.
Kubernet

[2019-10-17 11:44] soufiane-bouchaara commented on #1040
After removing  [sinks.http.basic_auth] and adding directly user and password to [sinks.http], the issue was resolved,
Can you please update the documentation ?

[2019-10-17 12:24] foamkeen opened #1043 "Automatic directory creation with file sink"
It would be very useful if the file sink supported automatic directory creation.
Then it could be possible to use configuration like:
`path = "/data/logs/{{ application_name }}/{{environment}}/{{logtype}}-%Y-%m-%d.log"`
without the need to create all the directories beforehand (which in case of dynamic environments is not even possible).

[2019-10-17 14:53] binarylogic commented on #1043
Thanks, @foamkeen, agree! We'll add it to our roadmap.

[2019-10-17 14:56] binarylogic commented on #1040
Apologies @soufiane-bouchaara, thanks for reporting.

@lukesteensen shouldn't this be nested under the `basic_auth` table? This was added in:

https://github.com/timberio/vector/pull/94/files#diff-75c76412401a1e8914185ac186f764f2R16

[2019-10-17 15:17] lukesteensen commented on #1040
@binarylogic The `flatten` attribute above the field means that its fields get inlined, so you don't have to deal with a nested table.

[2019-10-17 15:23] binarylogic commented on #1040
Ah, that's my fault then. Although, I do like the table. I'll add a follow up issue and update the docs.

[2019-10-17 15:25] lukesteensen commented on #1039
I can imagine some use cases where a machine-readable representation would be useful too. For example, automated checks that Vector is reading from a particular source or writing to the correct host in a sink.

[2019-10-17 15:27] lukesteensen commented on #1040
Yeah, I'm fine with it working either way. I think I generally leaned towards flattening to keep the user-facing structure simpler, but nested tables are becoming more of a norm.

[2019-10-17 15:38] LucioFranco commented on #1042
@zcapper Hi! This is something we 100% want to have in our docker source. We are just about to close out our first pass at initial container support. Once that is done we will be providing more transforms/sources that can fetch the proper metadata and enrich events.

As for kubernetes we are about to merge #893 which brings Kubernetes support just like how you all have already setup. Following thi

[2019-10-17 15:47] loony-bean commented on #1039
Reminded me of [Vizceral](https://medium.com/netflix-techblog/vizceral-open-source-acc0c32113fe).

[2019-10-17 18:23] Jeffail commented on #1038
Stuff what needs to happen for this thing what we will do:

- Spec out and implement https://github.com/timberio/vector/issues/232, that gives us:
    - A mechanism for injecting and extracting data from a Vector config at specific points
    - A way for users to express input events
- Compile topology as a webassembly library. We might need to restrict which sources and sinks are included in this

[2019-10-17 20:45] binarylogic commented on #546
@LucioFranco I think this is high enough priority to warrant doing. I would like to make sure we test for this.

[2019-10-17 20:50] binarylogic commented on #1040
On second thought, I'd like to remove the flattening here since the `elasticsearch` and `clickhouse` sinks currently do not flatten these options. I'd prefer that we keep this consistent, and in general, we're moving towards nesting similar options.

[2019-10-17 21:22] #607 closed

[2019-10-17 21:38] AlyHKafoury commented on #558
Hello @binarylogic can I tackle this one, and can you please give me a little guidance where to start ?!

[2019-10-17 22:24] binarylogic opened #1049 "Building a source/transform/sink guide"
This is a follow up to https://github.com/timberio/vector/issues/558#issuecomment-543372635. It'd be helpful if we had simple guides that new contributors could follow to build "Hello World" style sinks and then progress into more advanced concepts (batching, partitioning, health checks, etc).

In addition, #1041 would be a good issue to formalize for anyone wanting to add a new scripting language

[2019-10-17 22:24] binarylogic opened #4110 "Building a source/transform/sink guide"
This is a follow up to https://github.com/timberio/vector/issues/558#issuecomment-543372635. It'd be helpful if we had simple guides that new contributors could follow to build "Hello World" style sinks and then progress into more advanced concepts (batching, partitioning, health checks, etc).

In addition, timberio/vector#1041 would be a good issue to formalize for anyone wanting to add a new scr

[2019-10-17 22:25] binarylogic commented on #558
Hi @AlyHKafoury absolutely! We'd love to have you contribute. @LucioFranco, since you worked with him on https://github.com/timberio/vector/pull/960 maybe you can recommend the best way to get started?

I also opened the above issue to make this easier in the future.

[2019-10-18 00:49] zcapper commented on #1042
If by kube logs you mean whats in /var/log/pods, the available fields are stream (stdout/stderr), log (message), and time. So enrichment is still needed for those logs to know what app logged an event.

With regards to a kubernetes source, I don't think it would be important to include docker-level object labels so long as the k8s labels and metadata are pulled from k8s itself. It's more of an eit

[2019-10-18 01:24] #843 closed

[2019-10-18 12:02] ghost opened #1050 "Snapcraft.io snaps for Vector"
Similarly to publishing Vector to DockerHub, it might have sense to publish it on [Canonical's Snapcraft](https://snapcraft.io/).

If we do it, initially there could be two [channels](https://snapcraft.io/docs/channels): _stable_ and _edge_, with _stable_ containing releases and _edge_ containing nightly builds.

[2019-10-18 12:11] s1mps opened #1051 "Add ability to throttle streaming sinks"
Currently there seems to be no mechanism to limit the bandwidth used by vector when sending events.
In large environments, this could potentially lead to problems, especially when one or more vector instances start streaming  buffered events or resume reading from a file source.

[2019-10-18 13:26] Jeffail commented on #658
This adds a target for executing dry run tests on example configs: https://github.com/timberio/vector/commit/a56d8bf3a7cd25be0017ba7c76c0223b5f209d34

SPOILER ALERT: There are issues with the example configs.

[2019-10-18 14:04] Jeffail commented on #98
I've got a branch https://github.com/timberio/vector/tree/improve-config-validation that lowers the default log level (to warn), but it still responds to `--quiet` and `--verbose` flags. I've also moved the exit path from a non-healthchecked dry run to _before_ the topology is built and verified because that's where our components are checking for `data_dir`.

The result is that `--dry-run` on its

[2019-10-18 14:16] LucioFranco commented on #1051
@s1mps Hi! I believe using a combination of the `batch_size` and `rate_limit_*` options to limit the amount of outgoing data so that you don't get the stampeding herd effect should work. This should limit the total amount of data able to leave that instance of vector via the configured sink.

[2019-10-18 14:19] LucioFranco commented on #1042
Right, thats what I was thinking but I wanted to make sure.

Yup, this is the goal but will not be shipped with #893 right away and will come in follow up PRs.

Thanks for the input! 😄

[2019-10-18 14:22] foamkeen opened #1053 "File source stops following the file under a symlink on rotation"
There appears to be a bug in file source. When trying to rotate a file under a symlink Vector reports this in the log:
`WARN source{name="kubernetes"}:file_server: file_source::file_watcher: Found line that exceeds max_line_bytes; discarding. rate_limit_secs=30`
and just hangs.

All the lines in the test log are much shorter than `max_line_bytes` value.
Here is the source configuration:
[code]
In

[2019-10-18 14:23] binarylogic commented on #98
That makes sense. IMO the purpose of `--dry-run` should be to indicate any problems before starting Vector. So it's _current_ behavior makes sense to me. It'd be nice to break down what is happening here into steps:

1. `lint` (valid toml syntax, valid Vector fields, etc)
2. `graph` (at least 1 source, all inputs are valid, no circular dependencies, etc)
3. `environment` (data_dir exists, is writa

[2019-10-18 14:25] LucioFranco commented on #558
Hi @AlyHKafoury!

I would suggest taking a look at a couple of our sources mainly the kafka sinks and some of our AWS sinks. They should show how we usually setup our sinks. At a high level they all implement `futures::Sink` and some use `tower_service` to use add rate limiting. I believe for this sink we may want to follow the pure `futures::Sink` method which is shown in kafka. I would suggest u

[2019-10-18 14:26] binarylogic commented on #1053
Thanks, @foamkeen, appreciate you reporting. We haven't actually tested symlinks in the file source, I wasn't aware that was desirable. Could you share why you're doing this so we can better understand the use case? Thanks!

[2019-10-18 14:30] AlyHKafoury commented on #558
@LucioFranco Thank you, I will get started in a couple of days and ask you if I have further questions.

[2019-10-18 14:30] LucioFranco commented on #1038
When you say this, do you mean the ability to add/remove sources/transforms/sinks from the config via a runtime api?

This one I think will be very difficult since everything is built around tokio, futures and a few C libraries. But it is something we should 100% investigate and I'd love to see this.

[2019-10-18 14:31] s1mps commented on #1051
@LucioFranco Hi Lucio, thanks for the quick reply. I noticed the rate_limit options for the elasticsearch sink, but there does not seem to be one for the vector sink yet. As this is the recommended sink when deploying vector as an agent, it would be great to have this as an option in this sink too.

[2019-10-18 14:32] LucioFranco commented on #1051
@s1mps yup, this is because sinks like the `vector` and `tcp` sink are "streaming" based and we would need to throttle. This should be possible though. I will update the issue to reflect this.

[2019-10-18 14:34] LucioFranco commented on #1051
I've added a couple more sinks to the list here but most likely what we will want to do is use some form of throttle https://docs.rs/tokio/0.2.0-alpha.6/tokio/stream/trait.StreamExt.html#method.throttle like this one. That said, the tokio throttle seems a bit limited and we might want to allow users to specify something similar to how our rate limits are configured by setting an amount of data tha

[2019-10-18 14:35] foamkeen commented on #1053
Sure, I'm trying to use Vector as a logging agent on a Kubernetes node where container logs are located as symbolic links in `/var/log/containers` and are being rotated by Docker by simply moving underlying files from time to time. So that's the setup I was trying to simulate with my symlink and `mv`.

[2019-10-18 14:39] binarylogic commented on #658
Ha. I'd like to point out that these example configs in the `config/examples/sinks`, `config/examples/transforms` and `config/examples/sources` are generated based on the project's [`.meta`](https://github.com/timberio/vector/tree/master/.meta) data. They were initially there to serve as quick references, as opposed to the `config/vector.spec.toml` which is more verbose.

Interestingly, the code t

[2019-10-18 14:41] LucioFranco commented on #1039
I could see our topology graph represented as a svg as being VERY useful!

Another thing with config, unlike kube where the /config works users don't consume the config but merely observe it. I could see possibly having a sha hash of the config as being useful to indicate if the reload has been successful as well.

[2019-10-18 14:41] binarylogic commented on #1053
Got it! Just for reference, would https://github.com/timberio/vector/pull/893 be something you'd use instead once it's merged?

[2019-10-18 14:43] LucioFranco commented on #951
👍 on this.

[2019-10-18 14:43] Jeffail commented on #1038
Yeah, so in the case of unit testing configs I'd be looking to identify a subset of the topology being tested and isolate it. That would potentially involve placing a source with static test data with the ID matching what our target has as an input, we'd then also need to place sinks that aggregate the outputs of the last components of the target topology.

For digging into this further it's proba

[2019-10-18 14:51] binarylogic commented on #1051
👍 , although our `rate_limit*` options do not do this. They're quantity based not bandwidth based. I think the latter would also be useful in batching sinks, I'm just unsure exactly how that would work. I think it would be worth agreeing on what the options look like before beginning work on this.

[2019-10-18 15:18] LucioFranco commented on #1037
I think the one issue that arises with this is our use of serde and defining the config via set of structs. I'm not sure this method supports the ability to go backwards with previous versions. We may want to consider more custom config loading methods using an external schema like `vector.spec.toml`

[2019-10-18 15:19] Jeffail commented on #342
Maybe `vector -c ./foo.toml --follow bar`.

[2019-10-18 15:24] LucioFranco commented on #98
Would `--validate` be better than `--dry-run`? In my mind dry run would actually show us how events might pass through aka run through the system. Maybe `--validate` would be a bit more intuitive for users?

Is there a reason to make warn default? Maybe I've missed a precedent but I've always considered info to be default.

[2019-10-18 15:26] LucioFranco commented on #1011
Yes, because you can optimize for that format specifically but I'm not sure how beneficial this is in practice.

This is mainly what I want, in setting up sources with kube, I've realized that I want more flexibility to decode inner message types. So similar to how we achieve json in json.

[2019-10-18 15:28] LucioFranco commented on #700
@a-rodin thanks for doing this!

[2019-10-18 15:35] LucioFranco commented on #342
What about a "tap" transform that can allow users to hook into say a TCP stream to get a feed of events? Doesn't need to be a TCP stream but could be for example stdout. The idea here is that you're tapping into the stream of events and can sample some, filter some etc without affecting any downstream transforms/sinks.

[2019-10-18 15:50] LucioFranco commented on #1032
@a-rodin last I talked with florian he said that crate is pretty much unmaintained, maybe it makes sense for us to fork for the moment?

[2019-10-18 15:51] LucioFranco commented on #1032
and I also think this issue is a decently high priority since most mac users will probably switch over soon.

[2019-10-18 15:56] LucioFranco commented on #827
@lukesteensen do you think we should bundle some of this with more consolidation of our http client. Like removing the default rusoto client and instead use a custom hyper client with our own connector so that we can provide our own DNS resolution? Not sure how worth it might be.

[2019-10-18 16:27] a-rodin commented on #992
I really like this idea.

Actually, there is a way to do this right now without a special source using a combination of a shell script, `netcat`, and `tcp` source:

`script.sh`:
[code]
`vector.toml`:
[code]

However, it is not very ergonomic and it is better to have it built in.

I think we could avoid forcing users to generate only one event per invocation (and thus each time necessarily create n

[2019-10-18 16:35] a-rodin commented on #1041
The batch size can be set to 1 or a special option can be added to send individual events instead of arrays of events.

[2019-10-18 16:39] a-rodin commented on #1032
I'm not sure is it better to have the fork in a separate repository or in `lib` in Vector's source tree.

[2019-10-18 16:43] LucioFranco commented on #1032
Yeah, I want to hear what @lukesteensen has to say. This also leads me to the thing I've probably said a thousand times now maybe now is the time to move to something like sled? (may not be but just thought I'd bring it up)

[2019-10-18 16:45] a-rodin commented on #1037
It might be not necessary to support previous versions, we can just load TOML, check version, and if the version is not the same as Vectors, exit with an error. And the "migration" steps for implementation of `vector config upgrade` command could be defined manually, similar to how database migrations are usually defined.

[2019-10-18 16:48] LucioFranco commented on #1037
@a-rodin I am totally on board with that! I think this would provide a much better UX.

[2019-10-18 17:00] a-rodin commented on #1032
I wonder if we eventually end up with forks of large portion of our dependencies. ClickHouse [seems](https://github.com/ClickHouse/ClickHouse/tree/master/contrib) to be doing this, with almost half of contrib dependencies being checked into the tree because of the need for additional patches.

[2019-10-18 17:03] LucioFranco commented on #1032
@a-rodin I think we can avoid this. It is usually possible to reach out or find people to reach out. We should only vendor things that we know the maintainer will not update. In this case, I had a chat with Florian at RustConf about it and this is pretty much what he said. I think also being apart of the rust open source communtiy I would like for us to focus on giving back as much as possible so